<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var listRole = Context.Session.GetString("ListRole");
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <section class="content">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#347FC4">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        @if (User.Identity.Name == "superadmin@admin.com")
                        {                            
                            <li class="nav-item">
                                <div class="btn btn-orange" style="color:#ffffff" data-href="@Url.Action("Index", "Dashboard", new { area = "MasterData" })">
                                    Dashboard
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <button class="btn btn-orange dropdown-toggle" style="color:#ffffff" data-bs-toggle="dropdown" aria-expanded="false">Users</button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("Index", "UserActive", new { area = "MasterData" })">User</div></li>
                                    <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("Index", "Position", new { area = "MasterData" })">Position</div></li>
                                    <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("Index", "Department", new { area = "MasterData" })">Department</div></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <button class="btn btn-orange dropdown-toggle" style="color:#ffffff" data-bs-toggle="dropdown" aria-expanded="false">Supplier</button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("Index", "Supplier", new { area = "MasterData" })">Supplier PKS</div></li>
                                    <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("NonPks", "Supplier", new { area = "MasterData" })">Supplier Non-PKS</div></li>
                                    <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("NonActive", "Supplier", new { area = "MasterData" })">Supplier Non-Active</div></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <button class="btn btn-orange dropdown-toggle" style="color:#ffffff" data-bs-toggle="dropdown" aria-expanded="false">Product</button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("Index", "Product", new { area = "MasterData" })">Product</div></li>
                                    <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("Index", "Category", new { area = "MasterData" })">Category</div></li>
                                    <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("Index", "Measurement", new { area = "MasterData" })">Measurement</div></li>
                                    <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("Index", "Discount", new { area = "MasterData" })">Discount</div></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <div class="btn btn-orange" style="color:#ffffff" data-href="@Url.Action("Index", "TermOfPayment", new { area = "MasterData" })">
                                    Term Of Payment
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="btn btn-orange" style="color:#ffffff" data-href="@Url.Action("Index", "Bank", new { area = "MasterData" })">
                                    Bank
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <button class="btn btn-orange dropdown-toggle" style="color:#ffffff" data-bs-toggle="dropdown" aria-expanded="false">Warehouse</button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("Index", "WarehouseLocation", new { area = "MasterData" })">Warehouse Location</div></li>
                                    <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("Index", "UnitLocation", new { area = "MasterData" })">Unit Location</div></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <div class="btn btn-orange" style="color:#ffffff" data-href="@Url.Action("Index", "LeadTime", new { area = "MasterData" })">
                                    Lead Time
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="btn btn-orange" style="color:#ffffff" data-href="@Url.Action("Index", "InitialStock", new { area = "MasterData" })">
                                    Calculate Min-Max Stock
                                </div>
                            </li>
                        }
                        else
                        {
                            @if (!string.IsNullOrEmpty(listRole))
                            {
                                var roles = listRole.Split(',');
                                <li class="nav-item">
                                    <div class="btn btn-orange" style="color:#ffffff" data-href="@Url.Action("Index", "Dashboard", new { area = "MasterData" })">
                                        Dashboard
                                    </div>
                                </li>
                                @if (roles.Any(role => role == "ReadUserActive" || role == "ReadPosition" || role == "ReadDepartment"))
                                {
                                    <li class="nav-item dropdown">
                                        <button class="btn btn-orange dropdown-toggle" style="color:#ffffff" data-bs-toggle="dropdown" aria-expanded="false">Users</button>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            @if (roles.Contains("ReadUserActive"))
                                            {
                                                <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("Index", "UserActive", new { area = "MasterData" })">User</div></li>
                                            }
                                            @if (roles.Contains("ReadPosition"))
                                            {
                                                <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("Index", "Position", new { area = "MasterData" })">Position</div></li>
                                            }
                                            @if (roles.Contains("ReadDepartment"))
                                            {
                                                <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("Index", "Department", new { area = "MasterData" })">Department</div></li>
                                            }
                                        </ul>
                                    </li>
                                }

                                if (roles.Contains("ReadSupplier"))
                                {
                                    <li class="nav-item dropdown">
                                        <button class="btn btn-orange dropdown-toggle" style="color:#ffffff" data-bs-toggle="dropdown" aria-expanded="false">Supplier</button>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("Index", "Supplier", new { area = "MasterData" })">Supplier PKS</div></li>
                                            <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("NonPks", "Supplier", new { area = "MasterData" })">Supplier Non-PKS</div></li>
                                            <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("NonActive", "Supplier", new { area = "MasterData" })">Supplier Non-Active</div></li>
                                        </ul>
                                    </li>
                                }
                                @if (roles.Any(role => role == "ReadProduct" || role == "ReadCategory" || role == "ReadMeasurement" || role == "ReadDiscount"))
                                {
                                    <li class="nav-item dropdown">
                                        <button class="btn btn-orange dropdown-toggle" style="color:#ffffff" data-bs-toggle="dropdown" aria-expanded="false">Product</button>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            @if (roles.Contains("ReadProduct"))
                                            {
                                            <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("Index", "Product", new { area = "MasterData" })">Product</div></li>
                                            }
                                            @if (roles.Contains("ReadCategory"))
                                            {
                                            <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("Index", "Category", new { area = "MasterData" })">Category</div></li>
                                            }
                                            @if (roles.Contains("ReadMeasurement"))
                                            {
                                            <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("Index", "Measurement", new { area = "MasterData" })">Measurement</div></li>
                                            }
                                            @if (roles.Contains("ReadDiscount"))
                                            {
                                                <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("Index", "Discount", new { area = "MasterData" })">Discount</div></li>
                                            }
                                        </ul>
                                    </li>
                                }
                                if (roles.Contains("ReadTermOfPayment"))
                                {
                                    <li class="nav-item">
                                        <div class="btn btn-orange" style="color:#ffffff" data-href="@Url.Action("Index", "TermOfPayment", new { area = "MasterData" })">
                                            Term Of Payment
                                        </div>
                                    </li>
                                }
                                if (roles.Contains("ReadBank"))
                                {
                                    <li class="nav-item">
                                        <div class="btn btn-orange" style="color:#ffffff" data-href="@Url.Action("Index", "Bank", new { area = "MasterData" })">
                                            Bank
                                        </div>
                                    </li>
                                }
                                @if (roles.Any(role => role == "ReadWarehouseLocation" || role == "ReadUnitLocation"))
                                {
                                    <li class="nav-item dropdown">
                                        <button class="btn btn-orange dropdown-toggle" style="color:#ffffff" data-bs-toggle="dropdown" aria-expanded="false">Warehouse</button>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("Index", "WarehouseLocation", new { area = "MasterData" })">Warehouse Location</div></li>
                                            <li><div class="dropdown-item cursor-pointer" data-href="@Url.Action("Index", "UnitLocation", new { area = "MasterData" })">Unit Location</div></li>
                                        </ul>
                                    </li>
                                }
                                if (roles.Contains("ReadLeadTime"))
                                {
                                    <li class="nav-item">
                                        <div class="btn btn-orange" style="color:#ffffff" data-href="@Url.Action("Index", "LeadTime", new { area = "MasterData" })">
                                            Lead Time
                                        </div>
                                    </li>
                                }
                                if (roles.Contains("ReadInitialStock"))
                                {
                                    <li class="nav-item">
                                        <div class="btn btn-orange" style="color:#ffffff" data-href="@Url.Action("Index", "InitialStock", new { area = "MasterData" })">
                                            Calculate Min-Max Stock
                                        </div>
                                    </li>
                                }
                            }
                        }                        
                    </ul>
                </div>
            </div>
        </nav>        
        @RenderBody()
    </section>    
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }
    @section Scripts {
        <style>
            .cursor-pointer {                
                cursor: pointer; /* Tambahkan ini untuk mengubah kursor */
            }
        </style>

        <script>
            //Start Pengaturan Click Pada Button DIV Index
            document.addEventListener("DOMContentLoaded", () => {
                const rows = document.querySelectorAll("div[data-href]");

                rows.forEach(row => {
                    row.addEventListener("click", () => {
                        window.location.href = row.dataset.href;
                    });
                });
            });
            //End Pengaturan Click Pada Button DIV Index
        </script>
    }
</body>
</html>
