<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var listRole = Context.Session.GetString("ListRole");
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <section class="content">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#347FC4">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        @if (User.Identity.Name == "superadmin@admin.com")
                        {
                            <li class="nav-item">
                                <div class="btn btn-orange" style="color:#ffffff" data-href="@Url.Action("Index", "Dashboard", new { area = "Administrator" })">
                                    Dashboard
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="btn btn-orange" style="color:#ffffff" data-href="@Url.Action("Index", "RoleUser", new { area = "Administrator" })">
                                    Role User
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="btn btn-orange" style="color:#ffffff" data-href="@Url.Action("Index", "Api", new { area = "Administrator" })">
                                    Get Data API
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="btn btn-orange" style="color:#ffffff" data-href="@Url.Action("Index", "VarsionSystem", new { area = "Administrator" })">
                                    Version System
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="btn btn-orange" style="color:#ffffff" data-href="@Url.Action("Index", "LoggingSystem", new { area = "Administrator" })">
                                    Logging System
                                </div>
                            </li>
                        }
                        @*else
                        {
                            @if (!string.IsNullOrEmpty(listRole))
                            {
                                var roles = listRole.Split(',');
                                <li class="nav-item">
                                    <div class="btn btn-orange" style="color:#ffffff" data-href="@Url.Action("Index", "Dashboard", new { area = "Administrator" })">
                                        Dashboard
                                    </div>
                                </li>

                                @if (roles.Contains("ReadRoleUser"))
                                {
                                    <li class="nav-item">
                                        <div class="btn btn-orange" style="color:#ffffff" data-href="@Url.Action("Index", "RoleUser", new { area = "Administrator" })">
                                            Role
                                        </div>
                                    </li>
                                }           
                                
                                @if (roles.Contains("ReadApi"))
                                {
                                    <li class="nav-item">
                                        <div class="btn btn-orange" style="color:#ffffff" data-href="@Url.Action("Index", "Api", new { area = "Administrator" })">
                                            Get Data API
                                        </div>
                                    </li>
                                }

                                @if (roles.Contains("ReadVersionSystem"))
                                {
                                    <li class="nav-item">
                                        <div class="btn btn-orange" style="color:#ffffff" data-href="@Url.Action("Index", "VersionSystem", new { area = "Administrator" })">
                                            Version System
                                        </div>
                                    </li>
                                }

                                @if (roles.Contains("ReadLoggingSystem"))
                                {
                                    <li class="nav-item">
                                        <div class="btn btn-orange" style="color:#ffffff" data-href="@Url.Action("Index", "LoggingSystem", new { area = "Administrator" })">
                                            Logging System
                                        </div>
                                    </li>
                                }
                            }
                        }*@
                    </ul>
                </div>
            </div>
        </nav>
        @RenderBody()
    </section>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }
    @section Scripts {
        <style>
            .cursor-pointer {
                cursor: pointer; /* Tambahkan ini untuk mengubah kursor */
            }
        </style>

        <script>
            //Start Pengaturan Click Pada Button DIV Index
            document.addEventListener("DOMContentLoaded", () => {
                const rows = document.querySelectorAll("div[data-href]");

                rows.forEach(row => {
                    row.addEventListener("click", () => {
                        window.location.href = row.dataset.href;
                    });
                });
            });
                        //End Pengaturan Click Pada Button DIV Index
        </script>
    }
</body>
</html>
