@model LoginViewModel

@{
    ViewBag.Title = "Login System";
}

<div class="login-wrap p-4 p-md-5">
    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span><b>Maaf!</b> - @TempData["Error"]</span>
        </div>
    }
    <form method="post">
        <div class="form-outline mb-4">
            <input type="email" asp-for="Email" autocomplete="off" id="email" class="form-control" placeholder="Email" maxlength="45" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-outline mb-2">
            <input type="password" asp-for="Password" id="password" class="form-control" placeholder="Password" maxlength="45" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <!-- password mata / toggle password to text -->
            <div class="input-group-app end position-absolute  border-0 " style="right:60px; margin-top:-40px; ">
                <span class="input-group-text bg-white border-0" id="togglePassword" style="cursor: pointer;">
                    <i class="fas fa-eye-slash" id="eyeIcon"></i>
                </span>
            </div>
            <!-- End Code -->
            <!--    <div class="form-check form-check-inline">
                    <label>
                        <input type="checkbox" id="showPassword">
                        Tampilkan kata sandi
                    </label>
            </div>-->
        </div>
        <button type="submit" class="form-control btn btn-primary rounded submit px-3"><div style="color:white">Login</div></button>
    </form>
    @*<div class="form-check form-check-inline">
    <label asp-for="RememberMe">
    <input asp-for="RememberMe">
    @Html.DisplayNameFor(m => m.RememberMe)
    </label>
    </div>*@
    @*<div class="text-center">
    <a href="#">Pusat Bantuan</a>
    </div>*@
    @*<div class="text-center pt-1 mb-1 pb-1">
    <a href="#" onclick="forgot()" id="forgotPassword">Pusat Bantuan</a>
    </div>*@
</div>

@section Scripts {
    @if (TempData["WarningMessage"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal({
                    title: "Failed!",
                    text: '@TempData["WarningMessage"]',
                    type: "warning"
                }).then(() => {
                    // Setelah swal ditutup, fokus pada input password
                    document.getElementById("password").focus();
                });
            };
        </script>
    }
    else if (TempData["UserActiveMessage"] != null)
    {
        <script>
            window.onload = function () {
                swal({
                    title: "Oops...",
                    text: '@TempData["UserActiveMessage"]',
                    type: "error"
                }).then(() => {
                    // Setelah swal ditutup, fokus pada input password
                    document.getElementById("password").focus();
                });
            };

            @*window.onload = function () {
        swal("Oops...", '@TempData["UserActiveMessage"]', "error");
        document.getElementById("password").focus();
        };*@
        </script>
    }
    else if (TempData["UserOnlineMessage"] != null)
    {
        <script>
            window.onload = function () {
                swal({
                    title: "Oops...",
                    text: '@TempData["UserOnlineMessage"]',
                    type: "warning"
                }).then(() => {
                    // Setelah swal ditutup, fokus pada input password
                    document.getElementById("password").focus();
                });
            };
        </script>
    }
    else if (TempData["UserLockOut"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal({
                    title: "Locked !",
                    text: '@TempData["UserLockOut"]',
                    type: "error"
                }).then(() => {
                    // Setelah swal ditutup, fokus pada input password
                    document.getElementById("password").focus();
                });
            };
        </script>
    }

    <script src="https://kit.fontawesome.com/c3423d6308.js" crossorigin="anonymous"></script>
    <link href="~/admin/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/admin/plugins/select2/css/select2.css" rel="stylesheet" />
    <link href="~/admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />
    <link href="~/admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.css" rel="stylesheet" />
    <!-- password to text with check box-->
    <!--
          <script type="text/javascript">
          var show = document.getElementById('showPassword');
          var textbox = document.getElementById('password');

          show.addEventListener("click", function () {
              var isCheked = show.checked;

              if (isCheked) {
                  textbox.type = "text";
              } else {
                  textbox.type = "password";
              }
          })
      </script>
    -->
    <!-- password to text with check box-->
    <!-- function javascript icon mata untuk merubah password to text -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // toggle untuk change password to text in field password
            document.getElementById("togglePassword").addEventListener("click", function () {
                const passwordField = document.getElementById("password");
                const eyeIcons = document.getElementById("eyeIcon");
                if (passwordField.type === "password") {
                    passwordField.type = "text";
                    eyeIcon.classList.remove("fa-eye-slash");
                    eyeIcon.classList.add("fa-eye");
                } else {
                    passwordField.type = "password";
                    eyeIcon.classList.remove("fa-eye");
                    eyeIcon.classList.add("fa-eye-slash");
                }
            });

        });
    </script>
    <!--end code function javascript icon mata untuk merubah password to text -->
}