@{
    ViewData["Title"] = "Detail Approval Product Return";
    Layout = "~/Views/Shared/_TopNavbarApprovalProductReturn.cshtml";
}

@using Microsoft.AspNetCore.Identity;
@using PurchasingSystem.Areas.Warehouse.ViewModels;

@{
    var listRole = Context.Session.GetString("ListRole");
    @inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager

}
@model ApprovalProductReturnViewModel

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 bg-white">
            <div class="card-header bg-cyan">
                <h3 class="card-title fw-bold" style="color:#ffffff">@ViewBag.Title</h3>
            </div>

            <form enctype="multipart/form-data" asp-controller="ApprovalProductReturn" asp-action="DetailApprovalProductReturn" method="post" class="form-horizontal">
                <div class="card-body">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <input asp-for="@User.Identity.Name" class="form-control" type="hidden">
                    }
                    @*<input asp-for="Status" value="Belum Disetujui" type="hidden">*@
                    <input type="hidden" asp-for="ApprovalProductReturnId" />
                    <input type="hidden" asp-for="ProductReturnId" />
                    <input type="hidden" asp-for="UserAccessId" />
                    <input type="hidden" asp-for="UserApproveId" />
                    @*Jika dihilangkan tidak berjalan walaupun sudah ditampilkan dengan statement*@
                    <input type="hidden" asp-for="ApprovalTime" />
                    <input type="hidden" asp-for="ApprovalDate" />
                    <input type="hidden" asp-for="ApproveBy" />
                    <input type="hidden" asp-for="Status" id="Status" value="" />

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="ProductReturnNumber">PR Number</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="ProductReturnNumber" class="form-control form-control-border border-width-2" id="ProductReturnnumber" placeholder="Nomor PRN" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="UserAccessId">
                            Create By
                        </label>
                        <div class="col-sm-10">
                            <select asp-for="UserAccessId" asp-items="@ViewBag.User" class="form-control select2bs4" id="UserAccessId" style="width: 100%;" disabled>
                                <option value="" hidden disabled selected>--Choose User--</option>
                            </select>
                            <span asp-validation-for="UserAccessId" class="error"></span>
                        </div>
                    </div>                   
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="Note">Note</label>
                        <div class="col-sm-10">
                            <input asp-for="Note" autocomplete="off" class="form-control" placeholder="Note" disabled>
                            <span asp-validation-for="Note" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="Message">Message</label>
                        <div class="col-sm-10">
                            <input asp-for="Message" autocomplete="off" class="form-control" placeholder="Message">
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="card card-default">
                        <div class="card-header bg-cyan">
                            <h3 class="card-title fw-bold" style="color:#ffffff">Item</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="card-body table-responsive p-0">
                                <table id="tbldetailpr" class="table table-head-fixed text-nowrap table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">No</div></th>
                                            <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Product Number</div></th>
                                            <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Product Name</div></th>
                                            <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Supplier</div></th>
                                            <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Measure</div></th>
                                            <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Warehouse Origin</div></th>
                                            <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Warehouse Expired</div></th>
                                            <th class="text-center" style="background-color:#7FB9EE"><div style="color:#ffffff">Qty</div></th>
                                            <th class="text-right" style="background-color:#7FB9EE"><div style="color:#ffffff">Price</div></th>
                                            <th class="text-right" style="background-color:#7FB9EE"><div style="color:#ffffff">Discount</div></th>
                                            <th class="text-right" style="background-color:#7FB9EE"><div style="color:#ffffff">Sub Total</div></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.ProductReturnDetails.Count; i++)
                                        {
                                            var no = (Model.ProductReturnDetails.Count - Model.ProductReturnDetails.Count) + i + 1;

                                            <tr id="R$@no" class="detailProduct">
                                                <td class="row-index text-center"><p>@no</p></td>
                                                <td class="text-left row-productNumber"><input class="detkodeproduk" asp-for="@Model.ProductReturnDetails[i].ProductNumber" type="hidden" value="@Model.ProductReturnDetails[i].ProductNumber">@Model.ProductReturnDetails[i].ProductNumber</td>
                                                <td class="text-left row-productName"><input class="detnamaproduk" asp-for="@Model.ProductReturnDetails[i].ProductName" type="hidden" value="@Model.ProductReturnDetails[i].ProductName">@Model.ProductReturnDetails[i].ProductName</td>
                                                <td class="text-left"><input class="detsupplier" asp-for="@Model.ProductReturnDetails[i].Supplier" type="hidden" value="@Model.ProductReturnDetails[i].Supplier">@Model.ProductReturnDetails[i].Supplier</td>
                                                <td class="text-left"><input class="detsatuan" asp-for="@Model.ProductReturnDetails[i].Measurement" type="hidden" value="@Model.ProductReturnDetails[i].Measurement">@Model.ProductReturnDetails[i].Measurement</td>
                                                <td class="text-left"><input class="detorigin" asp-for="@Model.ProductReturnDetails[i].WarehouseOrigin" type="hidden" value="@Model.ProductReturnDetails[i].WarehouseOrigin">@Model.ProductReturnDetails[i].WarehouseOrigin</td>
                                                <td class="text-left"><input class="detexpired" asp-for="@Model.ProductReturnDetails[i].WarehouseExpired" type="hidden" value="@Model.ProductReturnDetails[i].WarehouseExpired">@Model.ProductReturnDetails[i].WarehouseExpired</td>
                                                <td class="text-center row-qty"><input class="text-center detqty" asp-for="@Model.ProductReturnDetails[i].Qty" type="hidden" value="@Model.ProductReturnDetails[i].Qty">@Model.ProductReturnDetails[i].Qty</td>
                                                <td class="text-right"><input class="detprice" asp-for="@Model.ProductReturnDetails[i].Price" type="hidden" value="@Model.ProductReturnDetails[i].Price">@Model.ProductReturnDetails[i].Price.ToString("C0", new System.Globalization.CultureInfo("id-ID"))</td>
                                                <td class="text-right"><input class="detdiskon" asp-for="@Model.ProductReturnDetails[i].Discount" type="hidden" value="@Model.ProductReturnDetails[i].Discount">@Model.ProductReturnDetails[i].Discount</td>
                                                <td class="text-right row-total"><input class="detsubtotal" asp-for="@Model.ProductReturnDetails[i].SubTotal" type="hidden" value="@Model.ProductReturnDetails[i].SubTotal">@Model.ProductReturnDetails[i].SubTotal.ToString("C0", new System.Globalization.CultureInfo("id-ID"))</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- start button footer -->
                    <div class="card card-orange">
                        <div class="card-body">
                            @if (Model.ApprovalStatusUser == "User1" && Model.Status == "Waiting Approval" && Model.UserApprove == User.Identity.Name)
                            {
                                @if (!string.IsNullOrEmpty(listRole))
                                {
                                    var roles = listRole.Split(',');
                                    if (roles.Contains("UpdateApprovalQtyDifference"))
                                    {
                                        <button type="submit" class="btn btn-primary bg-indigo float-left fw-bold" id="btnapprove" value="Approve"><div style="color:#ffffff">Approve</div></button>
                                        <button type="submit" class="btn btn-primary bg-danger float-left fw-bold" id="btnreject" value="Reject"><div style="color:#ffffff">Reject</div></button>
                                    }
                                }
                                <div class="btn btn-default" data-href="@Url.Action("Index", "ApprovalProductReturn", new { area = "Warehouse" })">Cancel</div>
                            }
                            else if (Model.ApprovalStatusUser == "User2" && Model.Status == "User1Approve" && Model.UserApprove == User.Identity.Name)
                            {
                                @if (!string.IsNullOrEmpty(listRole))
                                {
                                    var roles = listRole.Split(',');
                                    if (roles.Contains("UpdateApprovalQtyDifference"))
                                    {
                                        <button type="submit" class="btn btn-primary bg-indigo float-left fw-bold" id="btnapprove" value="Approve"><div style="color:#ffffff">Approve</div></button>
                                        <button type="submit" class="btn btn-primary bg-danger float-left fw-bold" id="btnreject" value="Reject"><div style="color:#ffffff">Reject</div></button>
                                    }
                                }
                                <div class="btn btn-default" data-href="@Url.Action("Index", "ApprovalProductReturn", new { area = "Warehouse" })">Cancel</div>
                            }
                            else if (Model.ApprovalStatusUser == "User3" && Model.Status == "User2Approve" && Model.UserApprove == User.Identity.Name)
                            {
                                @if (!string.IsNullOrEmpty(listRole))
                                {
                                    var roles = listRole.Split(',');
                                    if (roles.Contains("UpdateApprovalQtyDifference"))
                                    {
                                        <button type="submit" class="btn btn-primary bg-indigo float-left fw-bold" id="btnapprove" value="Approve"><div style="color:#ffffff">Approve</div></button>
                                        <button type="submit" class="btn btn-primary bg-danger float-left fw-bold" id="btnreject" value="Reject"><div style="color:#ffffff">Reject</div></button>
                                    }
                                }
                                <div class="btn btn-default" data-href="@Url.Action("Index", "ApprovalProductReturn", new { area = "Warehouse" })">Cancel</div>
                            }
                            else
                            {
                                <div class="btn btn-default" data-href="@Url.Action("Index", "ApprovalProductReturn", new { area = "Warehouse" })">Cancel</div>
                            }
                        </div>
                    </div>
                    <!-- /.end button footer -->
                </div>
            </form>
        </div>
        @if (TempData["WarningMessage"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    swal("Gagal Simpan", '@TempData["WarningMessage"]', "warning");
                };
            </script>
        }
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@section Scripts {
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        })
        // $('#toolAction').tooltip({ animation: true });
    </script>

    <script>
        $(document).ready(function () {
            jQuery('button[type=submit]').click(function (event) {
                if (this.value == "Approve") {
                    $('#Status').val("Approve");
                }
                if (this.value == "Reject") {
                    $('#Status').val("Reject");

                }
            });
        });
    </script>
}