@{
    var listRole = Context.Session.GetString("ListRole");
    ViewData["Title"] = "Detail Receive Order";
    Layout = "~/Views/Shared/_TopNavbarWarehouseReceiveOrder.cshtml";
}

@using Microsoft.AspNetCore.Identity;
@using PurchasingSystem.Areas.Warehouse.Models;

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model PurchasingSystem.Areas.Warehouse.Models.ReceiveOrder

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 bg-white">
            <div class="card-header bg-cyan">
                <h3 class="card-title fw-bold" style="color:#ffffff">@ViewBag.Title</h3>
            </div>

            <form enctype="multipart/form-data" asp-controller="ReceiveOrder" asp-action="DetailReceiveOrder" method="post" class="form-horizontal">
                <div class="card-body">
                    <input asp-for="ReceiveOrderId" type="hidden" />

                    @if (signInManager.IsSignedIn(User))
                    {
                        <input asp-for="@User.Identity.Name" class="form-control" type="hidden">
                    }

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="ReceiveOrderNumber">No. Receive Order</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="ReceiveOrderNumber" class="form-control form-control-border border-width-2" id="receiveordernumber" placeholder="Nomor Receive" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="PurchaseOrderId">
                            Purchase Order Number
                        </label>
                        <div class="col-sm-10">
                            <select asp-for="PurchaseOrderId" asp-items="@ViewBag.PO" class="form-control select2bs4" id="purchaseordernumber" style="width: 100%;" disabled>
                                <option value="" hidden disabled selected>--Choose Purchase Order Number--</option>
                            </select>
                            <span asp-validation-for="PurchaseOrderId" class="error"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="ReceiveById">
                            Receive By
                        </label>
                        <div class="col-sm-10">
                            <select asp-for="ReceiveById" asp-items="@ViewBag.User" class="form-control select2bs4" id="receivebyid" style="width: 100%;" disabled>
                                <option value="" hidden disabled selected>--Choose User--</option>
                            </select>
                            <span asp-validation-for="ReceiveById" class="error"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="ShippingNumber">Shipping Number</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="ShippingNumber" class="form-control form-control-border border-width-2" id="shippingnumber" placeholder="Shipping Number" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="DeliveryServiceName">Delivery Service Name</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="DeliveryServiceName" class="form-control form-control-border border-width-2" id="deliveryservicename" placeholder="Delivery Service Name" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="DeliveryDate">Delivery Date</label>
                        <div class="col-sm-10">
                            <input type="date" asp-for="DeliveryDate" class="form-control form-control-border border-width-2" id="deliverydate" placeholder="Delivery Date" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="WaybillNumber">Waybill Number</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="WaybillNumber" class="form-control form-control-border border-width-2" id="waybillnumber" placeholder="Waybill Number" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="InvoiceNumber">Invoice Number</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="InvoiceNumber" class="form-control form-control-border border-width-2" id="invoicenumber" placeholder="Invoice Number" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="SenderName">Sender Name</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="SenderName" class="form-control form-control-border border-width-2" id="sendername" placeholder="Sender Name" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="Status">Status</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="Status" class="form-control form-control-border border-width-2" id="status" placeholder="Status" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="Note">Note</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="Note" class="form-control form-control-border border-width-2" id="note" placeholder="Note" disabled>
                        </div>
                    </div>
                </div>

                <div class="card card-default">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title fw-bold" style="color:#ffffff">Item</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="card-body table-responsive p-0">
                            <table id="tbldetailpr" class="table table-head-fixed text-nowrap table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">No</div></th>
                                        <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Product Number</div></th>
                                        <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Product Name</div></th>
                                        <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Measure</div></th>
                                        <th class="text-center" style="background-color:#7FB9EE"><div style="color:#ffffff">Qty Order</div></th>
                                        <th class="text-center" style="background-color:#7FB9EE"><div style="color:#ffffff">Qty Receive</div></th>
                                        <th class="text-center" style="background-color:#7FB9EE"><div style="color:#ffffff">Condition</div></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.ReceiveOrderDetails.Count; i++)
                                    {
                                        var no = (Model.ReceiveOrderDetails.Count - Model.ReceiveOrderDetails.Count) + i + 1;

                                        <tr id="R$@no" class="detailProduct">
                                            <td class="row-index text-center"><p>@no</p></td>
                                            <td class="text-left row-productNumber"><input class="detkodeproduk" asp-for="@Model.ReceiveOrderDetails[i].ProductNumber" type="hidden" value="@Model.ReceiveOrderDetails[i].ProductNumber">@Model.ReceiveOrderDetails[i].ProductNumber</td>
                                            <td class="text-left row-productName"><input class="detnamaproduk" asp-for="@Model.ReceiveOrderDetails[i].ProductName" type="hidden" value="@Model.ReceiveOrderDetails[i].ProductName">@Model.ReceiveOrderDetails[i].ProductName</td>
                                            <td class="text-left"><input class="detsatuan" asp-for="@Model.ReceiveOrderDetails[i].Measure" type="hidden" value="@Model.ReceiveOrderDetails[i].Measure">@Model.ReceiveOrderDetails[i].Measure</td>
                                            <td class="text-center"><input class="detqty" asp-for="@Model.ReceiveOrderDetails[i].QtyOrder" type="hidden" value="@Model.ReceiveOrderDetails[i].QtyOrder">@Model.ReceiveOrderDetails[i].QtyOrder</td>                                            
                                            <td class="text-center"><input class="detprice" asp-for="@Model.ReceiveOrderDetails[i].QtyReceive" type="hidden" value="@Model.ReceiveOrderDetails[i].QtyReceive">@Model.ReceiveOrderDetails[i].QtyReceive</td>
                                            <td class="text-center"><input class="detcondition" asp-for="@Model.ReceiveOrderDetails[i].Condition" type="hidden" value="@Model.ReceiveOrderDetails[i].Condition">@Model.ReceiveOrderDetails[i].Condition</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- start button footer -->
                <div class="card card-orange">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Bagian Kiri -->
                            <div>
                                <div class="btn btn-default" data-href="@Url.Action("Index", "ReceiveOrder", new { area = "Warehouse" })">Cancel</div>
                            </div>

                            <!-- Bagian Kanan -->
                            <div>
                                @if (User.Identity.Name == "superadmin@admin.com")
                                {
                                    <a class="btn bg-gray" asp-action="PreviewReceiveOrder" asp-controller="ReceiveOrder" asp-area="Warehouse" asp-route-id="@Model.ReceiveOrderId" target="_blank"><i class="fas fa-file-pdf" style="color:white"></i> Preview</a>
                                    <a class="btn bg-indigo" asp-action="DownloadReceiveOrder" asp-controller="ReceiveOrder" asp-area="Warehouse" asp-route-id="@Model.ReceiveOrderId"><i class="fas fa-download" style="color:white"></i> Download</a>
                                    <a class="btn bg-green" asp-action="PreviewBatchNumber" asp-controller="ReceiveOrder" asp-area="Warehouse" asp-route-id="@Model.ReceiveOrderId" target="_blank"><i class="fas fa-file-pdf" style="color:white"></i> Batch Number</a>
                                }
                                else
                                {
                                    @if (!string.IsNullOrEmpty(listRole))
                                    {
                                        var roles = listRole.Split(',');
                                        if (roles.Contains("PreviewReceiveOrder"))
                                        {
                                            <a class="btn bg-gray" asp-action="PreviewReceiveOrder" asp-controller="ReceiveOrder" asp-area="Warehouse" asp-route-id="@Model.ReceiveOrderId" target="_blank"><i class="fas fa-file-pdf" style="color:white"></i> Preview</a>
                                        }

                                        if (roles.Contains("DownloadReceiveOrder"))
                                        {
                                            <a class="btn bg-indigo" asp-action="DownloadReceiveOrder" asp-controller="ReceiveOrder" asp-area="Warehouse" asp-route-id="@Model.ReceiveOrderId"><i class="fas fa-download" style="color:white"></i> Download</a>
                                        }
                                        if (roles.Contains("PreviewBatchNumber"))
                                        {
                                            <a class="btn bg-green" asp-action="PreviewBatchNumber" asp-controller="ReceiveOrder" asp-area="Warehouse" asp-route-id="@Model.ReceiveOrderId" target="_blank"><i class="fas fa-file-pdf" style="color:white"></i> Batch Number</a>
                                        }
                                    }
                                }                                
                            </div>
                        </div>                                              
                    </div>
                </div>
                <!-- /.end button footer -->
            </form>
        </div>
        @if (TempData["WarningMessage"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    swal("Failed", '@TempData["WarningMessage"]', "warning");
                };
            </script>
        }
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@section Scripts {  
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        })
    </script>
}