@{
    ViewData["Title"] = "List Unit Location";
    Layout = "~/Views/Shared/_TopNavbarMasterData.cshtml";
}

@using Microsoft.AspNetCore.Identity;
@using PurchasingSystem.Areas.MasterData.Models;
@using PurchasingSystem.Models;
@using PurchasingSystem.Repositories

@{
    var listRole = Context.Session.GetString("ListRole");
    @inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager

}
@model Pagination<UnitLocation>
@{
    var searchTerm = ViewBag.SearchTerm as string;
    var filterOptions = ViewBag.FilterOptions as string;
    var startDate = ViewBag.StartDateParam as string;
    var endDate = ViewBag.EndDateParam as string;
    var pageSize = ViewBag.PageSize as int?;
    // Hitung nomor awal berdasarkan halaman dan ukuran halaman
    int itemNumber = (Model.CurrentPage - 1) * Model.PageSize + 1;
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-cyan">
                <div class="card-header">
                    <h3 class="card-title" style="color:#ffffff"><b>@ViewBag.Title</b></h3>
                </div>
                <!-- /.card-header -->
                <div class="card">
                    <div class="card-body">
                        <form enctype="multipart/form-data" id="filterForm" asp-action="Index" asp-controller="UnitLocation" asp-area="MasterData" method="get" class="form-horizontal">
                            <div class="row">
                                <div class="col-md-3 input-group">
                                    @if (User.Identity.Name == "superadmin@admin.com")
                                    {
                                        <div class="btn btn-default bg-green" id="btn-search" data-href="@Url.Action("CreateUnitLocation", "UnitLocation")">
                                            <i class="fas fa-plus"></i>
                                        </div>
                                    }
                                    else
                                    {
                                        @if (!string.IsNullOrEmpty(listRole))
                                        {
                                            var roles = listRole.Split(',');
                                            if (roles.Contains("CreateUnitLocation"))
                                            {
                                                <div class="btn btn-default bg-green" id="btn-search" data-href="@Url.Action("CreateUnitLocation", "UnitLocation")">
                                                    <i class="fas fa-plus"></i>
                                                </div>
                                            }
                                        }
                                    }                                                                        
                                    <input type="date" name="startDate" id="startDate" class="date-input" value="@ViewBag.StartDate" placeholder="Select Start Date">
                                </div>
                                <div class="col-md-3 input-group">
                                    <input type="date" name="endDate" id="endDate" class="date-input" value="@ViewBag.EndDate" placeholder="Select End Date">
                                    <button type="submit" class="btn btn-default bg-indigo" id="btn-search"><i class="fa fa-search"></i></button>
                                </div>
                                <div class="col-md-2 input-group">
                                    <select class="form-control" name="filterOptions" id="filterOptions">
                                        <option value="" hidden disabled selected>--Filter by--</option>
                                        <option value="Today" selected=@(ViewBag.SelectedFilter == "Today")>Today</option>
                                        <option value="Last Day" selected=@(ViewBag.SelectedFilter == "Last Day")>Last Day</option>
                                        <option value="Last 7 Days" selected=@(ViewBag.SelectedFilter == "Last 7 Days")>Last 7 Days</option>
                                        <option value="Last 30 Days" selected=@(ViewBag.SelectedFilter == "Last 30 Days")>Last 30 Days</option>
                                        <option value="This Month" selected=@(ViewBag.SelectedFilter == "This Month")>This Month</option>
                                        <option value="Last Month" selected=@(ViewBag.SelectedFilter == "Last Month")>Last Month</option>
                                    </select>
                                </div>
                                <div class="col-md-4 input-group" data-target-input="nearest">
                                    <input autocomplete="off" maxlength="50" type="text" class="form-control form-control-border border-width-2" id="searchIn" name="searchTerm" value="@searchTerm" placeholder="Search unit locations..." />
                                    <button type="submit" class="btn btn-default bg-indigo" id="btn-search"><i class="fa fa-search"></i></button>
                                    <div class="btn btn-default bg-indigo" id="btn-search" data-href="@Url.Action("Index", "UnitLocation")">
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                    </div>                                    
                                    <input type="hidden" name="page" value="1" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-body">                    
                    <div class="card-body table-responsive p-0">
                        <table id="tblTemplate" class="table table-hover table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 5%;">No</th>
                                    <th class="text-left" style="width: 15%;">Create Date</th>
                                    <th class="text-left" style="width: 10%;">Unit Code</th>
                                    <th class="text-left" style="width: 15%;">Location Name</th>
                                    <th class="text-left" style="width: 15%;">Unit Manager</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Items.Any())
                                {
                                    @foreach (var UnitLocation in Model.Items)
                                    {

                                        <tr data-href="@Url.Action("DetailUnitLocation", "UnitLocation", new { id = UnitLocation.UnitLocationId })">
                                            <th class="text-center">@itemNumber</th>
                                            <td class="text-left">@UnitLocation.CreateDateTime.ReadStringDate()</td>
                                            <td class="text-left">@UnitLocation.UnitLocationCode</td>
                                            <td class="text-left">@UnitLocation.UnitLocationName</td>
                                            <td class="text-left">@UnitLocation.UnitManager.FullName</td>
                                        </tr>
                                        itemNumber++;
                                    }                                    
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-center" colspan="5">No unit locations found.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <span class="error">* Double click in the table row to open data</span>

                    @* Pagination *@
                    <div>
                        <p class="pagination-info">Page @Model.CurrentPage of @Model.TotalPages from @Model.TotalCount Rows</p>
                        <div class="pagination-container">
                            <ul class="pagination">
                                @{
                                    int startPage = ((Model.CurrentPage - 1) / 10) * 10 + 1;
                                    int endPage = Math.Min(startPage + 9, Model.TotalPages);
                                }

                                @if (startPage > 1)
                                {
                                    <li>
                                        <div class="pagination-link" href="@Url.Action("Index", "UnitLocation", new
                                                {
                                                    filterOptions = filterOptions,
                                                    searchTerm = searchTerm,
                                                    startDate = startDate,
                                                    endDate = endDate,
                                                    page = startPage - 10,
                                                    pageSize = Model.PageSize
                                                })">
                                            Prev 10
                                        </div>
                                    </li>
                                }

                                @if (Model.CurrentPage > 1)
                                {
                                    <li>
                                        <div class="pagination-link" id="btn-previous" href="@Url.Action("Index", "UnitLocation", new
                                                {
                                                    filterOptions = filterOptions,
                                                    searchTerm = searchTerm,
                                                    startDate = startDate,
                                                    endDate = endDate,
                                                    page = Model.CurrentPage - 1,
                                                    pageSize = Model.PageSize
                                                })">
                                            Prev
                                        </div>
                                    </li>
                                }

                                @for (int i = startPage; i <= endPage; i++)
                                {
                                    <li class="@(i == Model.CurrentPage ? "active" : "")">
                                        <div class="pagination-link" href="@Url.Action("Index", "UnitLocation", new
                                                {
                                                    filterOptions = filterOptions,
                                                    searchTerm = searchTerm,
                                                    startDate = startDate,
                                                    endDate = endDate,
                                                    page = i,
                                                    pageSize = Model.PageSize
                                                })">
                                            @i
                                        </div>
                                    </li>
                                }

                                @if (Model.CurrentPage < Model.TotalPages)
                                {
                                    <li>
                                        <div class="pagination-link" id="btn-next" href="@Url.Action("Index", "UnitLocation", new
                                                {
                                                    filterOptions = filterOptions,
                                                    searchTerm = searchTerm,
                                                    startDate = startDate,
                                                    endDate = endDate,
                                                    page = Model.CurrentPage + 1,
                                                    pageSize = Model.PageSize
                                                })">
                                            Next
                                        </div>
                                    </li>
                                }

                                @if (endPage < Model.TotalPages)
                                {
                                    <li>
                                        <div class="pagination-link" href="@Url.Action("Index", "UnitLocation", new
                                                {
                                                    filterOptions = filterOptions,
                                                    searchTerm = searchTerm,
                                                    startDate = startDate,
                                                    endDate = endDate,
                                                    page = endPage + 1,
                                                    pageSize = Model.PageSize
                                                })">
                                            Next 10
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>                               
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.card-body -->
@if (TempData["SuccessMessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            swal("Success", '@TempData["SuccessMessage"]', "success");
        };
    </script>
}
<!-- /.content -->
@section Scripts{
    <link href="~/scripts/pagination.css" rel="stylesheet" />
    <script src="~/scripts/paginationjquery.js"></script>
    <link href="~/scripts/buttonsejajarindex.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        document.getElementById("filterOptions").addEventListener("change", function () {
            // Kirim form secara otomatis saat opsi dipilih
            document.getElementById("filterForm").submit();
        });
    </script>

    <style>
        tr[data-href] {
            cursor: pointer;
        }
    </style>

    @*Start Jquery Date Range Tidak Bisa Dipisah Beda Halaman*@
    <script>
        $(document).ready(function () {
            // Ketika input difokuskan
            $(".date-input").focus(function () {
                $(this).prev(".date-label").css({
                    "color": "#007BFF",
                    "font-size": "12px",
                    "transform": "translateY(-20px)",
                    "transition": "0.3s ease-in-out"
                });
            });

            // Ketika input kehilangan fokus dan tidak ada nilai
            $(".date-input").blur(function () {
                if ($(this).val() === "") {
                    $(this).prev(".date-label").css({
                        "color": "#333",
                        "font-size": "14px",
                        "transform": "translateY(0)",
                        "transition": "0.3s ease-in-out"
                    });
                }
            });
        });

        // Inisialisasi Flatpickr
        flatpickr("#startDate", {
            dateFormat: "Y-m-d",
            //defaultDate: "today"
        });

        flatpickr("#endDate", {
            dateFormat: "Y-m-d",
            //defaultDate: "today"
        });
    </script>
    @*End Jquery Date Range Tidak Bisa Dipisah Beda Halaman*@
}