@{
    ViewData["Title"] = "Detail Bank";
    Layout = "~/Views/Shared/_TopNavbarMasterData.cshtml";
}

@using Microsoft.AspNetCore.Identity;
@using PurchasingSystem.Areas.MasterData.ViewModels;

@{
    var listRole = Context.Session.GetString("ListRole");
    @inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
}
@model BankViewModel

<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="~/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 bg-white">
            <form enctype="multipart/form-data" asp-controller="Bank" asp-action="DetailBank" asp-area="MasterData" method="post" class="form-horizontal">
                <div class="card-header bg-cyan">
                    <h3 class="card-title fw-bold" style="color:#ffffff">@ViewBag.Title</h3>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-0"></div>
                            <div class="col-md-12">
                                <input hidden asp-for="BankId" />
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="BankCode">Bank Code</label>
                                        <input type="text" asp-for="BankCode" class="form-control form-control-border border-width-2" id="BankCode" placeholder="Bank Code" readonly disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="BankName">Bank Name</label>
                                        <input maxlength="50" autocomplete="off" autofocus type="text" asp-for="BankName" class="form-control form-control-border border-width-2" id="BankName" placeholder="Bank Name" disabled>
                                        <span asp-validation-for="BankName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="AccountNumber">Account Number</label>
                                        <input type="number" asp-for="AccountNumber" class="form-control form-control-border border-width-2" id="AccountNumber" placeholder="Account Number" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="CardHolderName">Card Holder Name</label>
                                        <input maxlength="50" autocomplete="off" type="text" asp-for="CardHolderName" class="form-control form-control-border border-width-2" id="CardHolderName" placeholder="Card Holder Name" disabled>
                                        <span asp-validation-for="CardHolderName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="Note">Note</label>
                                        <input maxlength ="75" autocomplete="off" type="text" asp-for="Note" class="form-control form-control-border border-width-2" id="Note" placeholder="Note" disabled>
                                        <span asp-validation-for="Note" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-0"></div>
                        </div>
                    </div>
                </div>

                <!-- start button footer -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-0"></div>
                            <div class="col-md-12">
                                <div class="row">
                                    <button type="submit" class="btn btn-primary bg-indigo float-left fw-bold" id="btnsimpan"><div style="color:#ffffff">Save</div></button>
                                    @if (User.Identity.Name == "superadmin@admin.com")
                                    {
                                        <a class="btn bg-indigo" id="btnubah">Change</a>
                                        <a class="btn btn-default" id="btnbatalubah">Cancel Change</a>
                                        <div class="btn btn-danger" data-href="@Url.Action("DeleteBank", "Bank", new { id = Model.BankId })">Delete</div>
                                    }
                                    else
                                    {
                                        @if (!string.IsNullOrEmpty(listRole))
                                        {
                                            var roles = listRole.Split(',');
                                            if (roles.Contains("UpdateBank"))
                                            {
                                                <a class="btn bg-indigo" id="btnubah">Change</a>
                                                <a class="btn btn-default" id="btnbatalubah">Cancel Change</a>
                                            }
                                            if (roles.Contains("DeleteBank"))
                                            {
                                                <div class="btn btn-danger" data-href="@Url.Action("DeleteBank", "Bank", new { id = Model.BankId, area = "MasterData" })">Delete</div>
                                            }
                                        }
                                    }                                    
                                    <div class="btn btn-default" id="btnbatal" data-href="@Url.Action("Index", "Bank", new { area = "MasterData" })">Cancel</div>
                                </div>
                            </div>
                            <div class="col-md-0"></div>
                        </div>
                    </div>
                </div>
             
                <!-- /.end button footer -->
                @section Scripts {
                    <script>
                        $(function () {
                            //Initialize Select2 Elements
                            $('.select2bs4').select2({
                                theme: 'bootstrap4'
                            })
                        })
                    </script>

                    <script>
                        $(function () {
                            $("#btnsimpan").hide();
                            $("#btnbatalubah").hide();

                            $("#btnubah").click(function () {
                                $("#btnubah").hide();
                                $("#btnhapus").hide();
                                $("#btnbatal").hide();
                                $("#btnsimpan").show();
                                $("#btnbatalubah").show();                                

                                document.getElementById("BankCode").disabled = false;
                                document.getElementById("BankName").disabled = false;
                                document.getElementById("AccountNumber").disabled = false;
                                document.getElementById("CardHolderName").disabled = false;
                                document.getElementById("Note").disabled = false;
                            })

                            $("#btnbatalubah").click(function () {
                                $("#btnubah").show();
                                $("#btnhapus").show();
                                $("#btnbatal").show();
                                $("#btnsimpan").hide();
                                $("#btnbatalubah").hide();
                                
                                document.getElementById("BankCode").disabled = true;
                                document.getElementById("BankName").disabled = true;
                                document.getElementById("AccountNumber").disabled = true;
                                document.getElementById("CardHolderName").disabled = true;
                                document.getElementById("Note").disabled = true;
                            })
                        })
                    </script>
                }
            </form>
        </div>
        @if (TempData["WarningMessage"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    swal("Failed", '@TempData["WarningMessage"]', "warning");
                };
            </script>
        }
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->