@{
    ViewData["Title"] = "Add Qty Difference";
    Layout = "~/Views/Shared/_TopNavbarWarehouseQtyDifference.cshtml";
}

@using Microsoft.AspNetCore.Identity;
@using PurchasingSystem.Areas.Warehouse.Models;

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model PurchasingSystem.Areas.Warehouse.Models.QtyDifference

<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="~/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 bg-white">
            <div class="card-header bg-cyan">
                <h3 class="card-title fw-bold" style="color:#ffffff">@ViewBag.Title</h3>
            </div>

            <form enctype="multipart/form-data" asp-controller="QtyDifference" asp-action="CreateQtyDifference" method="post" class="form-horizontal">
                <div class="card-body">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <input asp-for="@User.Identity.Name" class="form-control" type="hidden">
                    }
                    @*<input asp-for="CheckedById" id="CheckedById" type="hidden">*@
                    @Html.Hidden("purchaseOrderNumber", (object)ViewBag.POFilter)
                    <input type="hidden" value="@ViewBag.POFilter" class="form-control form-control-border border-width-2" />
                    <input asp-for="Status" id="status" value="Waiting Approval" type="hidden">
                    <input asp-for="PurchaseOrderNumber" id="PurchaseOrderNumber" type="hidden">
                    <input asp-for="UserAccessId" id="UserAccessId" type="hidden">

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="QtyDifferenceNumber">Qty Diff Number</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="QtyDifferenceNumber" class="form-control form-control-border border-width-2" id="QtyDifferenceNumber" placeholder="Qty Difference Number" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="PurchaseOrderId">
                            PO Number
                        </label>
                        <div class="col-sm-10">
                            <select asp-for="PurchaseOrderId" asp-items="@ViewBag.POFilter" class="form-control select2bs4" id="poList" style="width: 100%;">
                                <option value="" hidden disabled selected>--Choose Purchase Order--</option>
                            </select>
                            <span asp-validation-for="PurchaseOrderId" class="error"></span>
                        </div>
                    </div>
                    @*Content Approve User 1*@
                    <div class="col-md-12 bg-white">
                        <div class="card-header bg-cyan">
                            <h3 class="card-title fw-bold" style="color:#ffffff">Approve 1</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" asp-for="Department1Id">
                                    Department Name
                                </label>
                                <div class="col-sm-10">
                                    <select asp-for="Department1Id" asp-items="@ViewBag.Department" class="form-control select2bs4" id="Department1List" style="width: 100%;">
                                        <option value="" hidden disabled selected>--Choose Department--</option>
                                    </select>
                                    <span asp-validation-for="Department1Id" class="error"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" asp-for="Position1Id">
                                    Position Name
                                </label>
                                <div class="col-sm-10">
                                    <select asp-for="Position1Id" asp-items="@ViewBag.Position" class="form-control select2bs4" id="Position1List" style="width: 100%;">
                                        <option value="" hidden disabled selected>--Choose Position--</option>
                                    </select>
                                    <span asp-validation-for="Position1Id" class="error"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" asp-for="UserApprove1Id">
                                    User Approve
                                </label>
                                <div class="col-sm-10">
                                    <select asp-for="UserApprove1Id" asp-items="@ViewBag.Approval" class="form-control select2bs4" id="UserApprove1List" style="width: 100%;">
                                        <option value="" hidden disabled selected>--Choose User--</option>
                                    </select>
                                    <span asp-validation-for="UserApprove1Id" class="error"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Content Approve User 2*@
                    <div class="col-md-12 bg-white">
                        <div class="card-header bg-cyan">
                            <h3 class="card-title fw-bold" style="color:#ffffff">Approve 2</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" asp-for="Department2Id">
                                    Department Name
                                </label>
                                <div class="col-sm-10">
                                    <select asp-for="Department2Id" asp-items="@ViewBag.Department" class="form-control select2bs4" id="Department2List" style="width: 100%;">
                                        <option value="" hidden disabled selected>--Choose Department--</option>
                                    </select>
                                    <span asp-validation-for="Department2Id" class="error"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" asp-for="Position2Id">
                                    Position Name
                                </label>
                                <div class="col-sm-10">
                                    <select asp-for="Position2Id" asp-items="@ViewBag.Position" class="form-control select2bs4" id="Position2List" style="width: 100%;">
                                        <option value="" hidden disabled selected>--Choose Position--</option>
                                    </select>
                                    <span asp-validation-for="Position2Id" class="error"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" asp-for="UserApprove2Id">
                                    User Approve
                                </label>
                                <div class="col-sm-10">
                                    <select asp-for="UserApprove2Id" asp-items="@ViewBag.Approval" class="form-control select2bs4" id="UserApprove2List" style="width: 100%;">
                                        <option value="" hidden disabled selected>--Choose User--</option>
                                    </select>
                                    <span asp-validation-for="UserApprove2Id" class="error"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" asp-for="Note">Note</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="Note" class="form-control form-control-border border-width-2" id="note" placeholder="Note">
                        </div>
                    </div>
                </div>

                <div class="card card-default">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title fw-bold" style="color:#ffffff">Item</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select class="form-control select2bs4" style="width: 100%;" id="produklist" data-placeholder="--Choose Product Cancel--">
                                        <option value="" hidden disabled selected>--Choose Product Cancel--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <input autocomplete="off" class="form-control row-QtyReceive" type="number" pattern="/^-?\d+\.?\d*$/" onKeyUp="qtyInput(this.value)" onKeyPress="if(this.value.length==6) return false;" min="1" max="1000" id="QtyReceive" placeholder="Qty Receive">
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @if (signInManager.IsSignedIn(User))
                                    {
                                        <a class="btn bg-indigo" id="btnAdd">
                                            <div style="color:#ffffff">Add to Table</div>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <span>Product Number</span>
                                <input autocomplete="off" class="form-control" id="productnumber" placeholder="Product Number" readonly>
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-md-4">
                                <span>Product Name</span>
                                <input autocomplete="off" class="form-control" id="productname" placeholder="Product Name" readonly>
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-md-2">
                                <span>Measure</span>
                                <input autocomplete="off" class="form-control" id="measure" placeholder="Measure" readonly>
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-md-2">
                                <span>Qty Order</span>
                                <input autocomplete="off" class="form-control row-QtyOrder" id="QtyOrder" placeholder="Qty Order" readonly>
                                <span class="error">Required !</span>
                            </div>

                            @*Hidden Column*@
                            <div class="col-md-2">
                                <span hidden>supplier</span>
                                <input autocomplete="off" class="form-control" id="supplier" placeholder="supplier" readonly hidden>
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-md-2">
                                <span hidden>price</span>
                                <input autocomplete="off" class="form-control" id="price" placeholder="price" readonly hidden>
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-md-2">
                                <span hidden>discount</span>
                                <input autocomplete="off" class="form-control" id="discount" placeholder="discount" readonly hidden>
                                <span class="error">Required !</span>
                            </div>
                        </div>

                        <div class="card-body table-responsive p-0">
                            <table id="tbldetailrcv" class="table table-head-fixed text-nowrap table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">No</div></th>
                                        <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Product Number</div></th>
                                        <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Product Name</div></th>
                                        <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Measure</div></th>
                                        <th class="text-center" style="background-color:#7FB9EE"><div style="color:#ffffff">Qty Order</div></th>
                                        <th class="text-center" style="background-color:#7FB9EE"><div style="color:#ffffff">Qty Receive</div></th>
                                        <th class="text-center" style="background-color:#7FB9EE"><div style="color:#ffffff"></div></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- start button footer -->
                <div class="card card-orange">
                    <div class="card-body">
                        @****Perhatikan type nya jika submit akan berbeda hasil pada json, jadi pakai type button*@
                        <input type="button" value="Save" id="submit" class="btn btn-primary bg-indigo float-left fw-bold">
                        <div class="btn btn-default" data-href="@Url.Action("Index", "QtyDifference")">Cancel</div>                        
                    </div>
                </div>
                <!-- /.end button footer -->
            </form>
        </div>
        @if (TempData["WarningMessage"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    swal("Failed", '@TempData["WarningMessage"]', "warning");
                };
            </script>
        }
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@section Scripts {
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        })
    </script>

    <script>
        $(document).ready(function () {
            $("#Position1List").empty();
            $("#UserApprove1List").empty();

            $("#Department1List").change(function () {
                $("#Position1List").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("LoadPosition1")',
                    dataType: 'json',
                    data: { id: $("#Department1List").val() },
                    success: function (positions) {
                        $("#Position1List").append('<option value = "' + undefined + '">' + "--Choose Position--" + '</option>');
                        $.each(positions, function (i, position) {
                            $("#Position1List").append('<option value = "' + position.value + '">' + position.text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed get data Position !!!' + ex);
                    }
                });
                return false;
            })

            $("#Position1List").change(function () {
                $("#UserApprove1List").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("LoadUser1")',
                    dataType: 'json',
                    data: { id: $("#Position1List").val() },
                    success: function (users) {
                        $("#UserApprove1List").append('<option value = "' + undefined + '">' + "--Choose User--" + '</option>');
                        $.each(users, function (i, user) {
                            $("#UserApprove1List").append('<option value = "' + user.value + '">' + user.text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed get data User !!!' + ex);
                    }
                });
                return false;
            })
        })
    </script>

    <script>
        $(document).ready(function () {
            $("#Position2List").empty();
            $("#UserApprove2List").empty();

            $("#Department2List").change(function () {
                $("#Position2List").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("LoadPosition2")',
                    dataType: 'json',
                    data: { id: $("#Department2List").val() },
                    success: function (positions) {
                        $("#Position2List").append('<option value = "' + undefined + '">' + "--Choose Position--" + '</option>');
                        $.each(positions, function (i, position) {
                            $("#Position2List").append('<option value = "' + position.value + '">' + position.text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed get data Position !!!' + ex);
                    }
                });
                return false;
            })

            $("#Position2List").change(function () {
                $("#UserApprove2List").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("LoadUser2")',
                    dataType: 'json',
                    data: { id: $("#Position2List").val() },
                    success: function (users) {
                        $("#UserApprove2List").append('<option value = "' + undefined + '">' + "--Choose User--" + '</option>');
                        $.each(users, function (i, user) {
                            $("#UserApprove2List").append('<option value = "' + user.value + '">' + user.text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed get data User !!!' + ex);
                    }
                });
                return false;
            })
        })
    </script>

    <script>
        $(document).ready(function () {
            $("#poList").change(function () {
                $("#produklist").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("LoadPurchaseOrder")',
                    dataType: 'json',
                    data: { id: $("#poList").val() },
                    success: function (items) {
                        $("#produklist").append('<option value = "' + -1 + '" hidden disabled selected>' + "--Choose Product Cancel--" + '</option>');
                        $.each(items.purchaseOrderDetails, function (id, value) {
                            var $option = $("<option/>", {
                                value: value.purchaseOrderDetailId,
                                text: value.productName
                            });
                            $("#produklist").append($option);
                        });
                    },
                    error: function (ex) {
                        alert('Failed to get data' + ex);
                    }
                });
                return false;
            })
        })
    </script>

    <script>
        $(document).ready(function () {
            $("#produklist").change(function () {
                var optId = $(this).find('option:selected').attr('id')
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("LoadPurchaseOrderDetail")',
                    dataType: 'json',
                    data: { id: $("#produklist").val() },
                    success: function (item) {
                        $.each(item, function () {
                            $("#productnumber").val(item.productNumber);
                            $("#productname").val(item.productName);
                            $("#measure").val(item.measurement);
                            $("#supplier").val(item.supplier);
                            $("#QtyOrder").val(item.qty);
                            $("#QtyReceive").val(item.qty);
                            $("#price").val(item.price);
                            $("#discount").val(item.discount);
                        });
                    },
                    error: function (ex) {
                        alert('Failed to get data' + ex);
                    }
                });
                return false;
            })
        })
    </script>    

    <script>
        function qtyInput(qtySpecial) {
            var qtySpecial = qtySpecial.replace(/[^0-9]+/g, "");
            document.getElementById("QtyReceive").value = "";
            document.getElementById("QtyReceive").value = qtySpecial;
        };
    </script>

    <script>
        var emptyRow = "<tr><td colspan='10' class='text-center'> Data not available </td></tr>";

        $(document).ready(function () {
            $('#tbldetailrcv tbody').append(emptyRow);

            var detailItem = []
            var detail = {};

            var detailName = document.getElementsByClassName("row-productNumber");
            var detailNameProduct = document.getElementsByClassName("row-productName");

            $('#QtyReceive').keypress(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    swal({
                        title: "Warning",
                        text: "Please click the Add to Table",
                        type: "warning"
                    });
                }
            });

            //var QtyReceive = document.getElementsByClassName("row-QtyReceive");
            //var QtyOrder = document.getElementsByClassName("row-QtyOrder");

            //Add button click function
            $('#btnAdd').click(function () {
                var QtyReceive = parseInt($('#QtyReceive').val());
                var QtyOrder = parseInt($('#QtyOrder').val());

                if (QtyReceive == QtyOrder || QtyReceive <= QtyOrder) {
                    if (detailName.length >= 0) {
                        var isValidItem = true;
                        if ($('#productnumber').val().trim() == '') {
                            isValidItem = false;
                            $('#productnumber').siblings('span.error').css('visibility', 'visible');
                        } else {
                            $('#productnumber').siblings('span.error').css('visibility', 'hidden');
                        }

                        if ($('#productname').val().trim() == '') {
                            isValidItem = false;
                            $('#productname').siblings('span.error').css('visibility', 'visible');
                        } else {
                            $('#productname').siblings('span.error').css('visibility', 'hidden');
                        }

                        if ($('#measure').val().trim() == '') {
                            isValidItem = false;
                            $('#measure').siblings('span.error').css('visibility', 'visible');
                        } else {
                            $('#measure').siblings('span.error').css('visibility', 'hidden');
                        }

                        if (!($('#QtyOrder').val().trim() != '' && !isNaN($('#QtyOrder').val().trim()))) {
                            isValidItem = false;
                            $('#QtyOrder').siblings('span.error').css('visibility', 'visible');
                            $("#QtyOrder").val('').focus();
                        } else {
                            $('#QtyOrder').siblings('span.error').css('visibility', 'hidden');
                        }

                        //Add Item to List if Valid
                        if (isValidItem) {

                            var productNumber = $('#productnumber').val().trim();
                            var productName = $('#productname').val().trim();
                            var measurement = $('#measure').val().trim();
                            var supplier = $('#supplier').val().trim();
                            var QtyOrder = parseInt($('#QtyOrder').val().trim());
                            var QtyReceive = parseInt($('#QtyReceive').val().trim());
                            var price = $('#price').val().trim();
                            var discount = $('#discount').val().trim();

                            if ($('#tbldetailrcv tbody').children().children().length == 1) {
                                $('#tbldetailrcv tbody').html('');
                            }
                            var no = $('#tbldetailrcv tbody').children().length + 1;
                            //var no = 0;
                            var dynamicName = '<tr><td>' + productName + '</td></tr>'

                            //create dynamic html string
                            let i;
                            for (i = 0; i <= detailName.length; i++) {
                                if (detailName.length == 0) {
                                    checkDuplicate = undefined;
                                }
                                else if (detailName.length > 0 && detailName[i] != undefined) {
                                    if (detailName[i].innerText != productNumber) {
                                        checkDuplicate = undefined;
                                    }
                                    else {
                                        swal({
                                            title: "Warning",
                                            text: "Product Name " + detailNameProduct[i].innerText + " Already exist",
                                            type: "warning"
                                        });

                                        $("#productnumber, #productname, #stock, #principal, #measure, #QtyOrder").val('');
                                        $('#produklist').select2('val', 'selectedIndex', 0);
                                        $("#produklist").data('placeholder');
                                        $("#QtyReceive").val('');
                                        return;
                                    }
                                }
                            }

                            function dataName(proName) {
                                return proName == dynamicName;
                            }



                            if (checkDuplicate == undefined) {
                                if (QtyOrder != QtyReceive) {
                                    var dynamicTr =
                                        `
                                                        <tr id="R${no}" class="detailProduct">
                                                                        <td class="row-index text-center"><div style="color:red"><b>${no}</b></div></td>
                                                        <td class="text-left row-productNumber"><input class="detproductnumber" type="hidden" value="${productNumber}"><div style="color:red"><b>${productNumber}</b></div></td>
                                                        <td class="text-left row-productName"><input class="detproductname" type="hidden" value="${productName}"><div style="color:red"><b>${productName}</b></div></td>
                                                        <td class="text-left"><input class="detmeasure" type="hidden" value="${measurement}"><div style="color:red"><b>${measurement}</b></div></td>
                                                                <input class="detsupplier" type="hidden" value="${supplier}">
                                                        <td class="text-center"><input class="detdiorder" type="hidden" value="${QtyOrder}"><div style="color:red"><b>${QtyOrder}</b></div></td>
                                                        <td class="text-center"><input class="detditerima" type="hidden" value="${QtyReceive}"><div style="color:red"><b>${QtyReceive}</b></div></td>
                                                                <input class="detprice" type="hidden" value="${price}">
                                                                <input class="detdiscount" type="hidden" value="${discount}">                                                                
                                                        <td class="text-center"> <button class="btn btn-danger btn-sm">X</button></td>
                                                        </tr>
                                                    `;

                                    $('#tbldetailrcv tbody').append(dynamicTr);

                                    detailItem.push(dynamicTr);
                                } else {
                                    var dynamicTr =
                                        `
                                                        <tr id="R${no}" class="detailProduct">
                                                        <td class="row-index text-center"><p>${no}</p></td>
                                                        <td class="text-left row-productNumber"><input class="detproductnumber" type="hidden" value="${productNumber}">${productNumber}</td>
                                                        <td class="text-left row-productName"><input class="detproductname" type="hidden" value="${productName}">${productName}</td>
                                                        <td class="text-left"><input class="detmeasure" type="hidden" value="${measurement}">${measurement}</td>
                                                                 <input class="detsupplier" type="hidden" value="${supplier}">
                                                        <td class="text-center"><input class="detdiorder" type="hidden" value="${QtyOrder}">${QtyOrder}</td>
                                                        <td class="text-center"><input class="detditerima" type="hidden" value="${QtyReceive}">${QtyReceive}</td>
                                                                <input class="detprice" type="hidden" value="${price}">
                                                                <input class="detdiscount" type="hidden" value="${discount}">
                                                        <td class="text-center"> <button class="btn btn-danger btn-sm">X</button></td>
                                                        </tr>
                                                    `;

                                    $('#tbldetailrcv tbody').append(dynamicTr);

                                    detailItem.push(dynamicTr);
                                }
                                

                                $("#productnumber, #productname, #stock, #principal, #measure, #QtyOrder").val('');
                                $('#produklist').select2('val', 'selectedIndex', 0);
                                $("#produklist").data('placeholder');
                                $("#QtyReceive").val('');

                                $('.btn-sm').click(function () {
                                    var child = $(this).closest('tr').nextAll();

                                    child.each(function () {
                                        var id = $(this).attr('id');
                                        if (id.length > 2) {
                                            var idx = $(this).children('.row-index').children('p');
                                            var dig = parseInt(id.substring(2));
                                            idx.html(`${dig - 1}`);
                                            $(this).attr('id', `R${dig - 1}`);
                                        } else {
                                            var idx = $(this).children('.row-index').children('p');
                                            var dig = parseInt(id.substring(1));
                                            idx.html(`${dig - 1}`);
                                            $(this).attr('id', `R${dig - 1}`);
                                        }
                                    });

                                    $(this).closest('tr').remove();

                                    swal({
                                        title: "Item successfully deleted",
                                        type: "success"
                                    });

                                    if ($('#tbldetailrcv tbody').children().children().length == 0) {
                                        $('#tbldetailrcv tbody').append(emptyRow);
                                    }
                                });
                            } else {
                                $('#errorDisplay').siblings('span.error').css('visibility', 'visible');
                                return;
                            }
                        }
                    }                
                } else if (QtyReceive == 0) {
                    $('#QtyReceive').val(1);
                    swal({
                        title: "Warning",
                        text: "Qty Canceld Cannot be 0",
                        type: "warning"
                    });

                    $("#productnumber, #productname, #stock, #principal, #measure, #QtyOrder").val('');
                    $('#produklist').select2('val', 'selectedIndex', 0);
                    $("#produklist").data('placeholder');
                    $("#QtyReceive").val('');
                } else if (QtyReceive > QtyOrder) {
                    $('#QtyReceive').val(1);
                    swal({
                        title: "Warning",
                        text: "Sorry, the Receive Qty cannot be greater than the Order Qty !",
                        type: "warning"
                    });
                } else {
                    $('#QtyReceive').val(1);
                    swal({
                        title: "Warning",
                        text: "Please input correctly !",
                        type: "warning"
                    });

                    $("#productnumber, #productname, #stock, #principal, #measure, #QtyOrder").val('');
                    $('#produklist').select2('val', 'selectedIndex', 0);
                    $("#produklist").data('placeholder');
                    $("#QtyReceive").val('');
                }
            });


            //Delete Item
            $('.btn-sm').click(function () {
                var child = $(this).closest('tr').nextAll();

                child.each(function () {
                    var id = $(this).attr('id');
                    if (id.length > 2) {
                        var idx = $(this).children('.row-index').children('p');
                        var dig = parseInt(id.substring(2));
                        idx.html(`${dig - 1}`);
                        $(this).attr('id', `R${dig - 1}`);
                    } else {
                        var idx = $(this).children('.row-index').children('p');
                        var dig = parseInt(id.substring(1));
                        idx.html(`${dig - 1}`);
                        $(this).attr('id', `R${dig - 1}`);
                    }
                });

                $(this).closest('tr').remove();

                swal({
                    title: "Item successfully deleted",
                    type: "success"
                });

                if ($('#tbldetailrcv tbody').children().children().length == 0) {
                    $('#tbldetailrcv tbody').append(emptyRow);
                }
            });

            //Save button click function
            $('#submit').click(function () {
                var isAllValid = true;
                var detailItemDone = [];
                var detailDone = {};
                var purchaseOrderNumber = $('#poList').find(":selected").val();
                var detailTable = $('#tbldetailrcv tbody').children().children().length / 10;
                var detailProdukList = document.getElementById("produklist").options.length - 1;
                var Department1Id = $('#Department1List').find(":selected").val();
                var Position1Id = $('#Position1List').find(":selected").val();
                var UserApprove1Id = $('#UserApprove1List').find(":selected").val();
                var Department2Id = $('#Department2List').find(":selected").val();
                var Position2Id = $('#Position2List').find(":selected").val();
                var UserApprove2Id = $('#UserApprove2List').find(":selected").val();

                if (detailTable == detailProdukList) {
                    if (detailItem.length == 0 && purchaseOrderNumber == '') {
                        $('#poList').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Harap di pilih !</span>');
                        swal({
                            title: "Warning",
                            text: "Items in the table cannot be empty",
                            type: "warning"
                        });
                        //$('#tbldetailpr tbody').html('<tr><td colspan="10" class="text-center"><span style="color:red;">Item belum tersedia</span></td></tr>');
                        isAllValid = false;
                    } else if (detailTable != 1 && Department1Id == '' && Position1Id == undefined && UserApprove1Id == undefined && Department2Id == '' && Position2Id == undefined && UserApprove2Id == undefined && Department3Id == '' && Position3Id == undefined && UserApprove3Id == undefined) {
                        $('#Department1List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                        $('#Position1List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                        $('#UserApprove1List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                        $('#Department2List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                        $('#Position2List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                        $('#UserApprove2List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');                        
                        swal({
                            title: "Warning",
                            text: "Sorry, please select...",
                            type: "warning"
                        });
                        isAllValid = false;
                    } else if (detailTable != 1 && Department1Id == '') {
                        $('#Department1List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                        swal({
                            title: "Warning",
                            text: "Sorry, please select...",
                            type: "warning"
                        });
                        isAllValid = false;
                    } else if (detailTable != 1 && Position1Id == undefined || Position1Id == "undefined") {
                        $('#Position1List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                        swal({
                            title: "Warning",
                            text: "Sorry, please select...",
                            type: "warning"
                        });
                        isAllValid = false;
                    } else if (detailTable != 1 && UserApprove1Id == undefined || UserApprove1Id == "undefined") {
                        $('#UserApprove1List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                        swal({
                            title: "Warning",
                            text: "Sorry, please select...",
                            type: "warning"
                        });
                        isAllValid = false;
                    } else if (detailTable != 1 && Department2Id == '') {
                        $('#Department2List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                        swal({
                            title: "Warning",
                            text: "Sorry, please select...",
                            type: "warning"
                        });
                        isAllValid = false;
                    } else if (detailTable != 1 && Position2Id == undefined || Position2Id == "undefined") {
                        $('#Position2List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                        swal({
                            title: "Warning",
                            text: "Sorry, please select...",
                            type: "warning"
                        });
                        isAllValid = false;
                    } else if (detailTable != 1 && UserApprove2Id == undefined || UserApprove2Id == "undefined") {
                        $('#Position2List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                        swal({
                            title: "Warning",
                            text: "Sorry, please select...",
                            type: "warning"
                        });
                        isAllValid = false;
                    } else if (detailItem.length != 0 && purchaseOrderNumber == '') {
                        $('#poList').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Harap di pilih !</span>');
                        swal({
                            title: "Warning",
                            text: "Sorry, please select...",
                            type: "warning"
                        });
                        isAllValid = false;
                    } else if (detailItem.length == 0 && purchaseOrderNumber != '') {
                        swal({
                            title: "Warning",
                            text: "Items in the table cannot be empty",
                            type: "warning"
                        });
                        isAllValid = false;
                    } else {
                        //Sembunyikan pesan error
                        $('#Department1List').siblings('span.error').css('visibility', 'hidden')
                        $('#Department2List').siblings('span.error').css('visibility', 'hidden')
                        $('#Position1List').siblings('span.error').css('visibility', 'hidden')
                        $('#Position2List').siblings('span.error').css('visibility', 'hidden')
                        $('#UserApprove1List').siblings('span.error').css('visibility', 'hidden')
                        $('#UserApprove2List').siblings('span.error').css('visibility', 'hidden')

                        $("#tbldetailrcv").find("tbody").children("tr").each(function (index, element) {
                            //***Penggunaan nama detail harus sesuai dengan nama pada table. Misal productnumber,productname,dst harus sama.
                            detailDone.ProductNumber = $(element).find(".detproductnumber").val();
                            detailDone.ProductName = $(element).find(".detproductname").val();
                            detailDone.Measurement = $(element).find(".detmeasure").val();
                            detailDone.Supplier = $(element).find(".detsupplier").val();
                            detailDone.QtyOrder = $(element).find(".detdiorder").val();
                            detailDone.QtyReceive = $(element).find(".detditerima").val();
                            detailDone.Price = $(element).find(".detprice").val();
                            detailDone.Discount = $(element).find(".detdiscount").val();
                            detailItemDone.push(detailDone);
                            detailDone = {};
                        });

                        var getPO = document.getElementById("poList");
                        var getPONumber = getPO.options[getPO.selectedIndex].text;

                        var QtyDifferenceNumber = $('#QtyDifferenceNumber').val();
                        var UserAccessId = $('#UserAccessId').val();
                        var PurchaseOrderId = $('#poList').val();
                        var PurchaseOrderNumber = getPONumber;
                        var Department1Id = $('#Department1List').val();
                        var Position1Id = $('#Position1List').val();
                        var UserApprove1Id = $('#UserApprove1List').val();
                        var Department2Id = $('#Department2List').val();
                        var Position2Id = $('#Position2List').val();
                        var UserApprove2Id = $('#UserApprove2List').val();                        
                        var Status = $('#status').val();
                        var Note = $('#note').val();
                        var QtyDifferenceDetail = detailItemDone;
                    }

                    if (isAllValid) {
                        var dataPost = {};
                        dataPost.QtyDifferenceNumber = QtyDifferenceNumber;
                        dataPost.UserAccessId = UserAccessId;
                        dataPost.PurchaseOrderId = PurchaseOrderId;
                        dataPost.PurchaseOrderNumber = PurchaseOrderNumber;
                        dataPost.Department1Id = Department1Id;
                        dataPost.Position1Id = Position1Id;
                        dataPost.UserApprove1Id = UserApprove1Id;
                        dataPost.Department2Id = Department2Id;
                        dataPost.Position2Id = Position2Id;
                        dataPost.UserApprove2Id = UserApprove2Id;
                        dataPost.Status = Status;
                        dataPost.Note = Note;
                        dataPost.QtyDifferenceDetails = QtyDifferenceDetail;

                        $(this).val('In Process...');

                        $.post("@Url.Action("CreateQtyDifference", "QtyDifference")", { model: dataPost },
                            function (data) {
                                window.location.href = data.redirectToUrl;
                            }
                        );
                    }
                } else {
                    swal({
                        title: "Warning",
                        text: "The number of items entered is not the same, please check again !!!",
                        type: "warning"
                    });
                }
            });
        });
    </script>

    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 90%;
        }

        tr.error {
            background-color: rgba(255,0,0,0.35);
        }

        /*css for table*/
        .container td {
            vertical-align: top;
        }

        .tablecontainer table {
            width: 100%;
            border-collapse: collapse;
            border-top: 1px solid #BFAEAE;
            border-right: 1px solid #BFAEAE;
        }

        .tablecontainer th {
            border-bottom: 2px solid #BFAEAE;
        }

        .tablecontainer th, .tablecontainer td {
            text-align: center;
            border-left: 1px solid #BFAEAE;
            padding: 5px;
            border-bottom: 1px solid #BFAEAE;
        }

        .ui-widget {
            font-size: 12px !important;
        }
    </style>
}