@{
    ViewData["Title"] = "Dashboard Master Data";
    Layout = "~/Views/Shared/_TopNavbarMasterData.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-widget widget-user">
                <div class="widget-user-header bg-info">
                    <h1 class="widget-user-username"><b>@ViewBag.Title</b></h1>
                </div>      
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row mb-2">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="cursor-pointer" data-href="@Url.Action("RedirectToIndex", "UserActive", new { area = "MasterData" })">
                <div class="small-box " style="background-color:#347FC4">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">User</h4>
                        <p style="color:#ffffff">Total @ViewBag.CountUser User</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user-plus"></i>
                    </div>
                </div>
            </div>
        </div>        
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="cursor-pointer" data-href="@Url.Action("RedirectToIndex", "Supplier", new { area = "MasterData" })">
                <div class="small-box " style="background-color:#347FC4">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Supplier</h4>
                        <p style="color:#ffffff">Total @ViewBag.CountSupplier Supplier</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="cursor-pointer" data-href="@Url.Action("RedirectToIndex", "UnitLocation", new { area = "MasterData" })">
                <div class="small-box " style="background-color:#347FC4">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Unit Location</h4>
                        <p style="color:#ffffff">Total @ViewBag.CountUnitLocation Unit Location</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-route"></i>
                    </div>
                </div>
            </div>
        </div>        
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="cursor-pointer" data-href="@Url.Action("RedirectToIndex", "WarehouseLocation", new { area = "MasterData" })">
                <div class="small-box " style="background-color:#347FC4">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Warehouse Location</h4>
                        <p style="color:#ffffff">Total @ViewBag.CountWarehouseLocation Warehouse Location</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-building"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="cursor-pointer" data-href="@Url.Action("RedirectToIndex", "Product", new { area = "MasterData" })">
                <div class="small-box " style="background-color:#347FC4">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Product</h4>
                        <p style="color:#ffffff">Total @ViewBag.CountProduct Product</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-heartbeat"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="cursor-pointer" data-href="@Url.Action("RedirectToIndex", "Category", new { area = "MasterData" })">
                <div class="small-box " style="background-color:#347FC4">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Category</h4>
                        <p style="color:#ffffff">Total @ViewBag.CountCategory Category</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-clone"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="cursor-pointer" data-href="@Url.Action("RedirectToIndex", "Measurement", new { area = "MasterData" })">
                <div class="small-box " style="background-color:#347FC4">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Measurement</h4>
                        <p style="color:#ffffff">Total @ViewBag.CountMeasurement Measurement</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-ruler-combined"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="cursor-pointer" data-href="@Url.Action("RedirectToIndex", "Discount", new { area = "MasterData" })">
                <div class="small-box " style="background-color:#347FC4">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Discount</h4>
                        <p style="color:#ffffff">Total @ViewBag.CountDiscount Discount</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-balance-scale-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@section Scripts {
    <style>
        .cursor-pointer {
            cursor: pointer; /* Tambahkan ini untuk mengubah kursor */
        }
    </style>

    <script>
        //Start Pengaturan Click Pada Button DIV Index
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("div[data-href]");

            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });
                    //End Pengaturan Click Pada Button DIV Index
    </script>
    }