@{
    ViewData["Title"] = "Add Product Return";
    Layout = "~/Views/Shared/_TopNavbarProductReturn.cshtml";
}

@using Microsoft.AspNetCore.Identity;
@using PurchasingSystem.Areas.Warehouse.ViewModels;

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model PurchasingSystem.Areas.Warehouse.Models.ProductReturn

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 bg-white">
            <form enctype="multipart/form-data" asp-controller="ProductReturn" asp-action="CreateProductReturn" method="post" class="form-horizontal">
                <div class="card-header bg-cyan">
                    <h3 class="card-title fw-bold" style="color:#ffffff">@ViewBag.Title</h3>
                </div>

                @if (signInManager.IsSignedIn(User))
                {
                    <input asp-for="@User.Identity.Name" class="form-control" type="hidden">
                }
                <input asp-for="Status" id="status" value="Waiting Approval" type="hidden">
                <input asp-for="UserAccessId" id="UserAccessId" type="hidden">


                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-0"></div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-2 col-form-label" asp-for="ProductReturnNumber">Return Number</label>
                                        <input type="text" asp-for="ProductReturnNumber" class="form-control form-control-border border-width-2" id="ProductReturnnumber" placeholder="PR Number" readonly>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-2 col-form-label" asp-for="BatchNumber">Batch Number</label>
                                        <input type="text" asp-for="BatchNumber" class="form-control form-control-border border-width-2" id="BatchNumber" placeholder="Batch Number">
                                        <span asp-validation-for="BatchNumber" class="error"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-12 input-group" id="ReturnDate" data-target-input="nearest">
                                        <label class="input-group" asp-for="ReturnDate">ReturnDate</label>
                                        <div class="input-group-append" data-target="#ReturnDate" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                        <input asp-for="ReturnDate" type="text" class="form-control datetimepicker-input" data-target="#ReturnDate" placeholder="ReturnDate" />
                                        <span asp-validation-for="ReturnDate" class="text-danger"></span>
                                    </div>
                                </div>

                                @*<div class="form-group row">
                                    <div class="col-sm-12">
                                        <label class="col-sm-2 col-form-label" asp-for="ReturnDate">Return Date</label>
                                        <input type="date" asp-for="ReturnDate" class="form-control form-control-border border-width-2" id="ReturnDate" placeholder="Return Date">
                                    </div>
                                </div>*@

                                @*Content Approve User 1*@
                                <div class="col-md-12 bg-white">
                                    <div class="card-header bg-cyan">
                                        <h3 class="card-title fw-bold" style="color:#ffffff">Approve 1</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-form-label" asp-for="Department1Id">Department Name</label>
                                                <select asp-for="Department1Id" asp-items="@ViewBag.Department" class="form-control select2bs4" id="Department1List" style="width: 100%;">
                                                    <option value="" hidden disabled selected>--Choose Department--</option>
                                                </select>
                                                <span asp-validation-for="Department1Id" class="error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-form-label" asp-for="Position1Id">Position Name</label>
                                                <select asp-for="Position1Id" asp-items="@ViewBag.Position" class="form-control select2bs4" id="Position1List" style="width: 100%;">
                                                    <option value="" hidden disabled selected>--Choose Position--</option>
                                                </select>
                                                <span asp-validation-for="Position1Id" class="error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-form-label" asp-for="UserApprove1Id">User Approve</label>
                                                <select asp-for="UserApprove1Id" asp-items="@ViewBag.Approval" class="form-control select2bs4" id="UserApprove1List" style="width: 100%;">
                                                    <option value="" hidden disabled selected>--Choose User--</option>
                                                </select>
                                                <span asp-validation-for="UserApprove1Id" class="error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*Content Approve User 2*@
                                <div class="col-md-12 bg-white">
                                    <div class="card-header bg-cyan">
                                        <h3 class="card-title fw-bold" style="color:#ffffff">Approve 2</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-form-label" asp-for="Department2Id">Department Name</label>
                                                <select asp-for="Department2Id" asp-items="@ViewBag.Department" class="form-control select2bs4" id="Department2List" style="width: 100%;">
                                                    <option value="" hidden disabled selected>--Choose Department--</option>
                                                </select>
                                                <span asp-validation-for="Department2Id" class="error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-form-label" asp-for="Position2Id">Position Name</label>
                                                <select asp-for="Position2Id" asp-items="@ViewBag.Position" class="form-control select2bs4" id="Position2List" style="width: 100%;">
                                                    <option value="" hidden disabled selected>--Choose Position--</option>
                                                </select>
                                                <span asp-validation-for="Position2Id" class="error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-form-label" asp-for="UserApprove2Id">User Approve</label>
                                                <select asp-for="UserApprove2Id" asp-items="@ViewBag.Approval" class="form-control select2bs4" id="UserApprove2List" style="width: 100%;">
                                                    <option value="" hidden disabled selected>--Choose User--</option>
                                                </select>
                                                <span asp-validation-for="UserApprove2Id" class="error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*Content Approve User 3*@
                                <div class="col-md-12 bg-white">
                                    <div class="card-header bg-cyan">
                                        <h3 class="card-title fw-bold" style="color:#ffffff">Approve 3</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-form-label" asp-for="Department3Id">Department Name</label>
                                                <select asp-for="Department3Id" asp-items="@ViewBag.Department" class="form-control select2bs4" id="Department3List" style="width: 100%;">
                                                    <option value="" hidden disabled selected>--Choose Department--</option>
                                                </select>
                                                <span asp-validation-for="Department3Id" class="error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-form-label" asp-for="Position3Id">Position Name</label>
                                                <select asp-for="Position3Id" asp-items="@ViewBag.Position" class="form-control select2bs4" id="Position3List" style="width: 100%;">
                                                    <option value="" hidden disabled selected>--Choose Position--</option>
                                                </select>
                                                <span asp-validation-for="Position3Id" class="error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-form-label" asp-for="UserApprove3Id">User Approve</label>
                                                <select asp-for="UserApprove3Id" asp-items="@ViewBag.Approval" class="form-control select2bs4" id="UserApprove3List" style="width: 100%;">
                                                    <option value="" hidden disabled selected>--Choose User--</option>
                                                </select>
                                                <span asp-validation-for="UserApprove3Id" class="error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="ReasonForReturn">Reason For Return</label>
                                        <input maxlength="75" autocomplete="off" type="text" asp-for="ReasonForReturn" class="form-control form-control-border border-width-2" id="ReasonForReturn" placeholder="Reason For Return">
                                        <span asp-validation-for="ReasonForReturn" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="Note">Note</label>
                                        <input maxlength="75" autocomplete="off" type="text" asp-for="Note" class="form-control form-control-border border-width-2" id="Note" placeholder="Note">
                                        <span asp-validation-for="Note" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-0"></div>
                        </div>
                    </div>
                </div>

                <div class="card card-default">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title fw-bold" style="color:#ffffff">Item</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <span>Search Product</span>
                                <div class="form-group">
                                    <select id="productDropdown" class="form-control select2bs4" style="width: 100%;">
                                        <option value="" hidden disabled selected>--Choose Product--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <span>Qty</span>
                                <input autocomplete="off" class="form-control" type="number" pattern="/^-?\d+\.?\d*$/" onKeyUp="qtyInput(this.value)" onKeyPress="if(this.value.length==6) return false;" min="1" max="1000" id="qty" placeholder="Qty">
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-md-2">
                                <span>&nbsp;</span>
                                <div class="form-group">
                                    @if (signInManager.IsSignedIn(User))
                                    {
                                        <a class="btn bg-indigo" id="btnAdd">
                                            <div style="color:#ffffff">Add to Table</div>
                                        </a>
                                    }
                                </div>
                            </div>
                            @*<div class="col-sm-1">
                                <span>Min Stock</span>
                                <input autocomplete="off" class="form-control" id="minstock" type="text" placeholder="Min Stock" readonly>
                            </div>
                            <div class="col-sm-1">
                                <span>Max Stock</span>
                                <input autocomplete="off" class="form-control" id="maxstock" type="text" placeholder="Max Stock" readonly>
                            </div>
                            <div class="col-sm-2">
                                <span>Buffer Stock</span>
                                <input autocomplete="off" class="form-control" id="bufferstock" type="text" placeholder="Buffer Stock" readonly>
                            </div>*@
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <span>Product Number</span>
                                <input autocomplete="off" class="form-control" id="productnumber" placeholder="Product Number" readonly>
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-md-2">
                                <span>Product Name</span>
                                <input autocomplete="off" class="form-control" id="productname" placeholder="Product Name" readonly>
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-md-1">
                                <span>Stock</span>
                                <input autocomplete="off" class="form-control" id="stock" placeholder="Stock" readonly>
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-md-2">
                                <span>Supplier</span>
                                <input autocomplete="off" class="form-control" id="Supplier" placeholder="Supplier" readonly>
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-md-1">
                                <span>Measure</span>
                                <input autocomplete="off" class="form-control" id="measure" placeholder="Measure" readonly>
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-md-2">
                                <span>Ware. Origin</span>
                                <input autocomplete="off" class="form-control" id="warehouseorigin" placeholder="Warehouse" readonly>
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-md-2">
                                <span>Ware. Expired</span>
                                <select asp-items="@ViewBag.WarehouseLocation" class="form-control select2bs4" id="warehouseexpired" style="width: 100%;">                                    
                                </select>
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-md-1" hidden>
                                <span>Discount</span>
                                <input autocomplete="off" class="form-control" id="discount" placeholder="Discount" hidden readonly>
                                <span class="error">Required !</span>
                            </div>
                            <div class="col-md-2" hidden>
                                <span>Price</span>
                                <input autocomplete="off" class="form-control" id="price" placeholder="Price" hidden readonly>
                                <span class="error">Required !</span>
                            </div>
                        </div>

                        <div class="card-body table-responsive p-0">
                            <table id="tbldetailpr" class="table table-head-fixed text-nowrap table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="background-color:#7FB9EE"><div style="color:#ffffff">No</div></th>
                                        <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Product Number</div></th>
                                        <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Product Name</div></th>
                                        <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Supplier</div></th>
                                        <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Measure</div></th>
                                        <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Warehouse Origin</div></th>
                                        <th class="text-left" style="background-color:#7FB9EE"><div style="color:#ffffff">Warehouse Expired</div></th>
                                        <th class="text-center" style="background-color:#7FB9EE"><div style="color:#ffffff">Qty</div></th>
                                        <th class="text-right" style="background-color:#7FB9EE" hidden><div style="color:#ffffff">Price</div></th>
                                        <th class="text-right" style="background-color:#7FB9EE" hidden><div style="color:#ffffff">Discount</div></th>
                                        <th class="text-right" style="background-color:#7FB9EE" hidden><div style="color:#ffffff">Sub Total</div></th>
                                        <th class="text-center" style="background-color:#7FB9EE"><div style="color:#ffffff"></div></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="7" class="text-right"><b>Total Qty</b></td>
                                        <td id="producttotalqty" class="text-center productTotalQty">0</td>
                                        <td colspan="2" class="text-right" hidden><b>Grand Total</b></td>
                                        <td id="productgrandtotal" class="text-right productGrandTotal" hidden>0</td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- start button footer -->
                <div class="card card-orange">
                    <div class="card-body">
                        @****Perhatikan type nya jika submit akan berbeda hasil pada json, jadi pakai type button*@
                        <input type="button" value="Save" id="submit" class="btn btn-primary bg-indigo float-left fw-bold">
                        <div class="btn btn-default" data-href="@Url.Action("Index", "ProductReturn")">Cancel</div>
                        @* <a class="btn btn-default" asp-action="Index" asp-controller="ProductReturn">Cancel</a> *@
                    </div>
                </div>
                <!-- /.end button footer -->
            </form>
        </div>
        @if (TempData["WarningMessage"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    swal("Failed", '@TempData["WarningMessage"]', "warning");
                };
            </script>
        }
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@section Scripts {
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        })
    </script>

    <script>
        $(function () {
            // Inisialisasi Select2
            $('#productDropdown').select2({
                theme: 'bootstrap4',
                placeholder: "--Choose Product--",
                allowClear: true,

                // Aktifkan AJAX di Select2
                ajax: {
                    url: '@Url.Action("GetProductsPaged", "ProductReturn")', // ganti ke Controller/Action sesuai
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        // params.term => teks yang diketik user
                        // params.page => halaman ke berapa (dimulai dari 1)
                        var query = {
                            term: params.term || "",
                            page: params.page || 1,
                            pageSize: 10
                        };
                        return query;
                    },
                    processResults: function (data, params) {
                        // data => response JSON dari server
                        // params.page => halaman ke berapa
                        params.page = params.page || 1;

                        return {
                            results: data.results,
                            pagination: {
                                more: data.pagination.more
                            }
                        };
                    }
                }
            });
        });
    </script>

    <script>
        $(function () {
            //Tanggal Lahir
            $('#ReturnDate').datetimepicker({
                format: 'DD/MM/yyyy'
            });            
        })
    </script>

    <script>
        $(document).ready(function () {
            $("#productDropdown").change(function () {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("LoadProduk")',
                    dataType: 'json',
                    data: { id: $("#productDropdown").val() },
                    success: function (item) {
                        $.each(item, function () {
                            //Hidden
                            $("#minstock").val(item.minStock);
                            $("#maxstock").val(item.maxStock);
                            $("#bufferstock").val(item.bufferStock);

                            $("#productnumber").val(item.productCode);
                            $("#productname").val(item.productName);
                            $("#stock").val(item.stock);
                            $("#Supplier").val(item.supplier.supplierName);
                            $("#measure").val(item.measurement.measurementName);
                            $("#warehouseorigin").val(item.warehouseLocation.warehouseLocationName);
                            $("#discount").val(item.discount.discountValue);
                            $("#price").val(item.buyPrice);
                        });
                    },
                    error: function (ex) {
                        alert('Please wait until the data..., ' + ex);
                    }
                });
                return false;
            })
        })
    </script>

    <script>
        $(document).ready(function () {
            $("#Position1List").empty();
            $("#UserApprove1List").empty();

            $("#Department1List").change(function () {
                $("#Position1List").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("LoadPosition1")',
                    dataType: 'json',
                    data: { id: $("#Department1List").val() },
                    success: function (positions) {
                        $("#Position1List").append('<option value = "' + undefined + '">' + "--Choose Position--" + '</option>');
                        $.each(positions, function (i, position) {
                            $("#Position1List").append('<option value = "' + position.value + '">' + position.text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed get data Position !!!' + ex);
                    }
                });
                return false;
            })

            $("#Position1List").change(function () {
                $("#UserApprove1List").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("LoadUser1")',
                    dataType: 'json',
                    data: { id: $("#Position1List").val() },
                    success: function (users) {
                        $("#UserApprove1List").append('<option value = "' + undefined + '">' + "--Choose User--" + '</option>');
                        $.each(users, function (i, user) {
                            $("#UserApprove1List").append('<option value = "' + user.value + '">' + user.text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed get data User !!!' + ex);
                    }
                });
                return false;
            })
        })
    </script>

    <script>
        $(document).ready(function () {
            $("#Position2List").empty();
            $("#UserApprove2List").empty();

            $("#Department2List").change(function () {
                $("#Position2List").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("LoadPosition2")',
                    dataType: 'json',
                    data: { id: $("#Department2List").val() },
                    success: function (positions) {
                        $("#Position2List").append('<option value = "' + undefined + '">' + "--Choose Position--" + '</option>');
                        $.each(positions, function (i, position) {
                            $("#Position2List").append('<option value = "' + position.value + '">' + position.text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed get data Position !!!' + ex);
                    }
                });
                return false;
            })

            $("#Position2List").change(function () {
                $("#UserApprove2List").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("LoadUser2")',
                    dataType: 'json',
                    data: { id: $("#Position2List").val() },
                    success: function (users) {
                        $("#UserApprove2List").append('<option value = "' + undefined + '">' + "--Choose User--" + '</option>');
                        $.each(users, function (i, user) {
                            $("#UserApprove2List").append('<option value = "' + user.value + '">' + user.text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed get data User !!!' + ex);
                    }
                });
                return false;
            })
        })
    </script>

    <script>
        $(document).ready(function () {
            $("#Position3List").empty();
            $("#UserApprove3List").empty();

            $("#Department3List").change(function () {
                $("#Position3List").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("LoadPosition3")',
                    dataType: 'json',
                    data: { id: $("#Department3List").val() },
                    success: function (positions) {
                        $("#Position3List").append('<option value = "' + undefined + '">' + "--Choose Position--" + '</option>');
                        $.each(positions, function (i, position) {
                            $("#Position3List").append('<option value = "' + position.value + '">' + position.text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed get data Position !!!' + ex);
                    }
                });
                return false;
            })

            $("#Position3List").change(function () {
                $("#UserApprove3List").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("LoadUser3")',
                    dataType: 'json',
                    data: { id: $("#Position3List").val() },
                    success: function (users) {
                        $("#UserApprove3List").append('<option value = "' + undefined + '">' + "--Choose User--" + '</option>');
                        $.each(users, function (i, user) {
                            $("#UserApprove3List").append('<option value = "' + user.value + '">' + user.text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed get data User !!!' + ex);
                    }
                });
                return false;
            })
        })
    </script>

    <script>
        $(document).ready(function () {
            $("#productDropdown").change(function () {
                $("#qty").val('1').focus();
            });
        });
    </script>

    <script>
        function qtyInput(qtySpecial) {
            var qtySpecial = qtySpecial.replace(/[^0-9]+/g, "");
            document.getElementById("qty").value = "";
            document.getElementById("qty").value = qtySpecial;
        };
    </script>

    <script>
        var emptyRow = "<tr><td colspan='10' class='text-center'> No data available in table </td></tr>";

        $(document).ready(function () {
            $('#tbldetailpr tbody').append(emptyRow);

            var detailItem = []
            var detail = {};

            var detailName = document.getElementsByClassName("row-productNumber");
            var detailSupplier = document.getElementsByClassName("row-supplier");
            var detailNameProduct = document.getElementsByClassName("row-productName");

            $('#qty').keypress(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    swal({
                        title: "Warning",
                        text: "Please, click the Add to Table",
                        type: "warning"
                    });
                }
            });

            //Add button click function
            $('#btnAdd').click(function () {
                var qtyInputan = parseInt($('#qty').val());
                var qtyTersedia = parseInt($('#stock').val());
                // Ambil elemen dropdown
                const selectedOption = $('#warehouseexpired option:selected');
                const wareexp = selectedOption.text(); // Alternatif, ambil teks langsung


                if (qtyInputan <= qtyTersedia) {
                    if (detailItem.length >= 0) {
                        var isValidItem = true;
                        if ($('#productnumber').val().trim() == '') {
                            isValidItem = false;
                            $('#productnumber').siblings('span.error').css('visibility', 'visible');
                        } else {
                            $('#productnumber').siblings('span.error').css('visibility', 'hidden');
                        }

                        if ($('#productname').val().trim() == '') {
                            isValidItem = false;
                            $('#productname').siblings('span.error').css('visibility', 'visible');
                        } else {
                            $('#productname').siblings('span.error').css('visibility', 'hidden');
                        }

                        if ($('#measure').val().trim() == '') {
                            isValidItem = false;
                            $('#measure').siblings('span.error').css('visibility', 'visible');
                        } else {
                            $('#measure').siblings('span.error').css('visibility', 'hidden');
                        }

                        if ($('#warehouseorigin').val().trim() == '') {
                            isValidItem = false;
                            $('#warehouseorigin').siblings('span.error').css('visibility', 'visible');
                        } else {
                            $('#warehouseorigin').siblings('span.error').css('visibility', 'hidden');
                        }

                        if ($('#warehouseexpired').val().trim() == '') {
                            isValidItem = false;
                            $('#warehouseexpired').siblings('span.error').css('visibility', 'visible');
                        } else {
                            $('#warehouseexpired').siblings('span.error').css('visibility', 'hidden');
                        }

                        if ($('#Supplier').val().trim() == '') {
                            isValidItem = false;
                            $('#Supplier').siblings('span.error').css('visibility', 'visible');
                        } else {
                            $('#Supplier').siblings('span.error').css('visibility', 'hidden');
                        }

                        if (!($('#qty').val().trim() != '' && !isNaN($('#qty').val().trim()))) {
                            isValidItem = false;
                            $('#qty').siblings('span.error').css('visibility', 'visible');
                            $("#qty").val('').focus();
                        } else {
                            $('#qty').siblings('span.error').css('visibility', 'hidden');
                        }

                        if ($('#price').val().trim() == '') {
                            isValidItem = false;
                            $('#price').siblings('span.error').css('visibility', 'visible');
                        } else {
                            $('#price').siblings('span.error').css('visibility', 'hidden');
                        }

                        if ($('#discount').val().trim() == '') {
                            isValidItem = false;
                            $('#discount').siblings('span.error').css('visibility', 'visible');
                        } else {
                            $('#discount').siblings('span.error').css('visibility', 'hidden');
                        }

                        //Add Item to List if Valid
                        if (isValidItem) {

                            var productNumber = $('#productnumber').val().trim();
                            var productName = $('#productname').val().trim();
                            var supplier = $('#Supplier').val().trim();
                            var measurement = $('#measure').val().trim();
                            var warehouseorigin = $('#warehouseorigin').val().trim();
                            var warehouseexpired = wareexp;
                            var qty = parseInt($('#qty').val().trim());
                            var price = parseFloat($('#price').val().trim());
                            var discount = (parseInt($('#qty').val().trim()) * parseFloat($('#price').val().trim())) * (parseInt($('#discount').val().trim()) / 100);
                            var total = (parseInt($('#qty').val().trim()) * parseFloat($('#price').val().trim())) - (parseInt($('#qty').val().trim()) * parseFloat($('#price').val().trim())) * (parseInt($('#discount').val().trim()) / 100);

                            if ($('#tbldetailpr tbody').children().children().length == 1) {
                                $('#tbldetailpr tbody').html('');
                            }
                            var no = $('#tbldetailpr tbody').children().length + 1;
                            //var no = 0;
                            var dynamicName = '<tr><td>' + productName + '</td></tr>'

                            //create dynamic html string
                            //var checkDuplicate = detailName.find(dataName);
                            let i;
                            for (i = 0; i <= detailName.length; i++) {
                                if (detailName.length == 0) {
                                    checkDuplicate = undefined;
                                }
                                else if (detailName.length > 0 && detailName[i] != undefined) {
                                    if (detailName[i].innerText != productNumber && detailSupplier[i].innerText == supplier) {
                                        checkDuplicate = undefined;
                                    }
                                    else if (detailName[i].innerText != productNumber && detailSupplier[i].innerText != supplier) {
                                        swal({
                                            title: "Warning",
                                            text: "Sorry, supplier " + supplier + " different from previous supplier",
                                            type: "warning"
                                        });

                                        $('#productDropdown').select2('val', 'selectedIndex', 0);
                                        $("#productDropdown").data('placeholder');
                                        $("#productnumber,#productname,#stock,#Supplier,#measure,#warehouseorigin,#qty,#price,#discount,#minstock,#maxstock,#bufferstock").val('');
                                        return;
                                    }
                                    else {
                                        swal({
                                            title: "Warning",
                                            text: "Sorry, " + detailNameProduct[i].innerText + " Already exist",
                                            type: "warning"
                                        });

                                        $('#productDropdown').select2('val', 'selectedIndex', 0);
                                        $("#productDropdown").data('placeholder');
                                        $("#productnumber,#productname,#stock,#Supplier,#measure,#warehouseorigin,#qty,#price,#discount,#minstock,#maxstock,#bufferstock").val('');
                                        return;
                                    }
                                }
                            }

                            function dataName(proName) {
                                return proName == dynamicName;
                            }

                            if (checkDuplicate == undefined) {
                                //var dynamicTr = `<tr id="R${no}"><td class="row-index text-center"><p>${no}</p></td><td class="text-center">${productNumber}</td><td class="text-left row-productName">${productName}</td><td class="text-left">${Supplier}</td><td class="text-center">${measurement}</td><td class="text-center row-qty">${qty}</td><td class="text-right">${price}</td><td class="text-right">${discount}</td><td class="text-right row-total">${total}</td><td class="text-center"> <button class="btn btn-danger btn-sm">-</button> </td></tr>`;
                                var dynamicTr =
                                    `@for (int i = 0; i < Model.ProductReturnDetails.Count; i++)
        {
                                                        <tr id="R${no}" class="detailProduct">
                                                        <td class="row-index text-center"><p>${no}</p></td>
                                                        <td class="text-left row-productNumber"><input class="detProductNumber" asp-for="@Model.ProductReturnDetails[i].ProductNumber" type="hidden" value="${productNumber}">${productNumber}</td>
                                                        <td class="text-left row-productName"><input class="detProductName" asp-for="@Model.ProductReturnDetails[i].ProductName" type="hidden" value="${productName}">${productName}</td>
                                                        <td class="text-left row-supplier"><input class="detSupplier" asp-for="@Model.ProductReturnDetails[i].Supplier" type="hidden" value="${supplier}">${supplier}</td>
                                                        <td class="text-left"><input class="detMeasurement" asp-for="@Model.ProductReturnDetails[i].Measurement" type="hidden" value="${measurement}">${measurement}</td>
                                                        <td class="text-left"><input class="detWarehouseOrigin" asp-for="@Model.ProductReturnDetails[i].WarehouseOrigin" type="hidden" value="${warehouseorigin}">${warehouseorigin}</td>
                                                        <td class="text-left"><input class="detWarehouseExpired" asp-for="@Model.ProductReturnDetails[i].WarehouseExpired" type="hidden" value="${warehouseexpired}">${warehouseexpired}</td>
                                                        <td class="text-center row-qty"><input class="detQty" asp-for="@Model.ProductReturnDetails[i].Qty" type="hidden" value="${qty}">${qty}</td>
                                                        <td class="text-right" hidden><input class="detPrice" asp-for="@Model.ProductReturnDetails[i].Price" type="hidden" value="${price}">${price}</td>
                                                        <td class="text-right" hidden><input class="detDiscount" asp-for="@Model.ProductReturnDetails[i].Discount" type="hidden" value="${discount}">${discount}</td>
                                                        <td class="text-right row-total" hidden><input class="detSubTotal" asp-for="@Model.ProductReturnDetails[i].SubTotal" type="hidden" value="${total}">${total}</td>
                                                        <td class="text-center"> <button class="btn btn-danger btn-sm">X</button> </td></tr>
        }`;

                                $('#tbldetailpr tbody').append(dynamicTr);

                                detailItem.push(dynamicTr);
                                //detailName.push(dynamicName);

                                sumQty();
                                sumGranTotal();

                                $('#productDropdown').select2('val', 'selectedIndex', 0);
                                $("#productDropdown").data('placeholder');
                                $("#productnumber,#productname,#stock,#Supplier,#measure,#warehouseorigin,#qty,#price,#discount,#minstock,#maxstock,#bufferstock").val('');

                                $('.btn-sm').click(function () {
                                    var child = $(this).closest('tr').nextAll();

                                    child.each(function () {
                                        var id = $(this).attr('id');
                                        if (id.length > 2) {
                                            var idx = $(this).children('.row-index').children('p');
                                            var dig = parseInt(id.substring(2));
                                            idx.html(`${dig - 1}`);
                                            $(this).attr('id', `R${dig - 1}`);
                                        } else {
                                            var idx = $(this).children('.row-index').children('p');
                                            var dig = parseInt(id.substring(1));
                                            idx.html(`${dig - 1}`);
                                            $(this).attr('id', `R${dig - 1}`);
                                        }
                                    });

                                    $(this).closest('tr').remove();

                                    swal({
                                        title: "Item successfully deleted",
                                        type: "success"
                                    });

                                    if ($('#tbldetailpr tbody').children().children().length == 0) {
                                        $('#tbldetailpr tbody').append(emptyRow);
                                        sumQty();
                                        sumGranTotal();
                                    } else {
                                        sumQty();
                                        sumGranTotal();
                                    }

                                });
                            } else {
                                $('#errorDisplay').siblings('span.error').css('visibility', 'visible');
                                return;
                            }

                            function sumQty() {
                                var sumQty = parseInt(0);
                                var getTotalQty = document.getElementsByClassName("row-qty");
                                for (var i = 0; i < getTotalQty.length; i++) {
                                    var totalqty = getTotalQty[i].innerText;
                                    //var totalqty = getTotalQty[i].lastElementChild.defaultValue;
                                    sumQty = sumQty + parseInt(totalqty);
                                }
                                $('.productTotalQty').text(sumQty);
                            }

                            function sumGranTotal() {
                                var sumGrandTotal = parseInt(0);
                                var getTotal = document.getElementsByClassName("row-total");
                                for (var i = 0; i < getTotal.length; i++) {
                                    var subtotal = getTotal[i].innerText;
                                    sumGrandTotal = sumGrandTotal + parseFloat(subtotal);
                                }
                                $('.productGrandTotal').text(sumGrandTotal);
                            }
                        }
                    }
                }
                else if ($('#qty').val() == 0) {
                    swal({
                        title: "Warning",
                        text: "Qty cannot be 0 !!!",
                        type: "warning"
                    });
                    $('#productDropdown').select2('val', 'selectedIndex', 0);
                    $("#productDropdown").data('placeholder');
                    $("#productnumber,#productname,#stock,#Supplier,#measure,#warehouseorigin,#qty,#price,#discount,#minstock,#maxstock,#bufferstock").val('');
                }
                else if (qtyInputan > qtyTersedia) {
                    swal({
                        title: "Warning",
                        text: "Failed, stock only available " + qtyTersedia,
                        type: "warning"
                    });
                    $('#productDropdown').select2('val', 'selectedIndex', 0);
                    $("#productDropdown").data('placeholder');
                    $("#productnumber,#productname,#stock,#Supplier,#measure,#warehouseorigin,#qty,#price,#discount,#minstock,#maxstock,#bufferstock").val('');
                }
                else {
                    swal({
                        title: "Warning",
                        text: "Failed, available stock 0 !",
                        type: "warning"
                    });
                    $('#productDropdown').select2('val', 'selectedIndex', 0);
                    $("#productDropdown").data('placeholder');
                    $("#productnumber,#productname,#stock,#Supplier,#measure,#warehouseorigin,#qty,#price,#discount,#minstock,#maxstock,#bufferstock").val('');
                }
            });


            //Delete item
            $('.btn-sm').click(function () {
                var child = $(this).closest('tr').nextAll();

                child.each(function () {
                    var id = $(this).attr('id');
                    if (id.length > 2) {
                        var idx = $(this).children('.row-index').children('p');
                        var dig = parseInt(id.substring(2));
                        idx.html(`${dig - 1}`);
                        $(this).attr('id', `R${dig - 1}`);
                    } else {
                        var idx = $(this).children('.row-index').children('p');
                        var dig = parseInt(id.substring(1));
                        idx.html(`${dig - 1}`);
                        $(this).attr('id', `R${dig - 1}`);
                    }
                });

                $(this).closest('tr').remove();

                swal({
                    title: "Item successfully deleted",
                    type: "success"
                });

                if ($('#tbldetailpr tbody').children().children().length == 0) {
                    $('#tbldetailpr tbody').append(emptyRow);
                } else {
                    sumQty();
                    sumGranTotal();
                }

                function sumQty() {
                    var sumQty = parseInt(0);
                    var getTotalQty = document.getElementsByClassName("row-qty");
                    for (var i = 0; i < getTotalQty.length; i++) {
                        var totalqty = getTotalQty[i].innerText;
                        //var totalqty = getTotalQty[i].lastElementChild.defaultValue;
                        sumQty = sumQty + parseInt(totalqty);
                    }
                    $('.productTotalQty').text(sumQty);
                }

                function sumGranTotal() {
                    var sumGrandTotal = parseInt(0);
                    var getTotal = document.getElementsByClassName("row-total");
                    for (var i = 0; i < getTotal.length; i++) {
                        var subtotal = getTotal[i].innerText;
                        sumGrandTotal = sumGrandTotal + parseFloat(subtotal);
                    }
                    $('.productGrandTotal').text(sumGrandTotal);
                }

            });

            //Save button click function
            $('#submit').click(function () {
                var isAllValid = true;
                var detailItemDone = [];
                var detailDone = {};
                var detailTable = $('#tbldetailpr tbody').children().children().length;
                var Department1Id = $('#Department1List').find(":selected").val();
                var Position1Id = $('#Position1List').find(":selected").val();
                var UserApprove1Id = $('#UserApprove1List').find(":selected").val();
                var Department2Id = $('#Department2List').find(":selected").val();
                var Position2Id = $('#Position2List').find(":selected").val();
                var UserApprove2Id = $('#UserApprove2List').find(":selected").val();
                var Department3Id = $('#Department3List').find(":selected").val();
                var Position3Id = $('#Position3List').find(":selected").val();
                var UserApprove3Id = $('#UserApprove3List').find(":selected").val();
                
                if (detailTable == 1) { // 1 adalah isi dari keterangan pada table dihitung 1
                    swal({
                        title: "Warning",
                        text: "Sorry, items in the table cannot be empty",
                        type: "warning"
                    });
                    isAllValid = false;
                } else if (detailTable != 1 && BatchNumber == '' && Department1Id == '' && Position1Id == undefined && UserApprove1Id == undefined && Department2Id == '' && Position2Id == undefined && UserApprove2Id == undefined && Department3Id == '' && Position3Id == undefined && UserApprove3Id == undefined) {
                    $('#Department1List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    $('#Position1List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    $('#UserApprove1List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    $('#Department2List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    $('#Position2List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    $('#UserApprove2List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    $('#Department3List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    $('#Position3List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    $('#UserApprove3List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    $('#BatchNumber').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    swal({
                        title: "Warning",
                        text: "Sorry, please select...",
                        type: "warning"
                    });
                    isAllValid = false;
                } else if (detailTable != 1 && Department1Id == '') {
                    $('#Department1List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    swal({
                        title: "Warning",
                        text: "Sorry, please select...",
                        type: "warning"
                    });
                    isAllValid = false;
                } else if (detailTable != 1 && Position1Id == undefined || Position1Id == "undefined") {
                    $('#Position1List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    swal({
                        title: "Warning",
                        text: "Sorry, please select...",
                        type: "warning"
                    });
                    isAllValid = false;
                } else if (detailTable != 1 && UserApprove1Id == undefined || UserApprove1Id == "undefined") {
                    $('#UserApprove1List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    swal({
                        title: "Warning",
                        text: "Sorry, please select...",
                        type: "warning"
                    });
                    isAllValid = false;
                } else if (detailTable != 1 && Department2Id == '') {
                    $('#Department2List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    swal({
                        title: "Warning",
                        text: "Sorry, please select...",
                        type: "warning"
                    });
                    isAllValid = false;
                } else if (detailTable != 1 && Position2Id == undefined || Position2Id == "undefined") {
                    $('#Position2List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    swal({
                        title: "Warning",
                        text: "Sorry, please select...",
                        type: "warning"
                    });
                    isAllValid = false;
                } else if (detailTable != 1 && UserApprove2Id == undefined || UserApprove2Id == "undefined") {
                    $('#Position2List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    swal({
                        title: "Warning",
                        text: "Sorry, please select...",
                        type: "warning"
                    });
                    isAllValid = false;
                } else if (detailTable != 1 && Department3Id == '') {
                    $('#Department3List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    swal({
                        title: "Warning",
                        text: "Sorry, please select...",
                        type: "warning"
                    });
                    isAllValid = false;
                } else if (detailTable != 1 && Position3Id == undefined || Position3Id == "undefined") {
                    $('#Position3List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    swal({
                        title: "Warning",
                        text: "Sorry, please select...",
                        type: "warning"
                    });
                    isAllValid = false;
                } else if (detailTable != 1 && UserApprove3Id == undefined || UserApprove3Id == "undefined") {
                    $('#UserApprove3List').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    swal({
                        title: "Warning",
                        text: "Sorry, please select...",
                        type: "warning"
                    });
                    isAllValid = false;
                } else if (detailTable != 1 && BatchNumber == '') {
                    $('#BatchNumber').siblings('span.error').css('visibility', 'visible').html('<span style="color:red">Please select !</span>');
                    swal({
                        title: "Warning",
                        text: "Sorry, please select...",
                        type: "warning"
                    });
                    isAllValid = false;
                } else {
                    //Sembunyikan pesan error
                    $('#Department1List').siblings('span.error').css('visibility', 'hidden')
                    $('#Department2List').siblings('span.error').css('visibility', 'hidden')
                    $('#Department3List').siblings('span.error').css('visibility', 'hidden')
                    $('#Position1List').siblings('span.error').css('visibility', 'hidden')
                    $('#Position2List').siblings('span.error').css('visibility', 'hidden')
                    $('#Position3List').siblings('span.error').css('visibility', 'hidden')
                    $('#UserApprove1List').siblings('span.error').css('visibility', 'hidden')
                    $('#UserApprove2List').siblings('span.error').css('visibility', 'hidden')
                    $('#UserApprove3List').siblings('span.error').css('visibility', 'hidden')
                    $('#BatchNumber').siblings('span.error').css('visibility', 'hidden')

                    $("#tbldetailpr").find("tbody").children("tr").each(function (index, element) {
                        //***Penggunaan nama detail harus sesuai dengan nama pada table. Misal kodeproduk,namaproduk,dst harus sama.
                        detailDone.productnumber = $(element).find(".detProductNumber").val();
                        detailDone.productname = $(element).find(".detProductName").val();
                        detailDone.supplier = $(element).find(".detSupplier").val();
                        detailDone.measurement = $(element).find(".detMeasurement").val();
                        detailDone.warehouseorigin = $(element).find(".detWarehouseOrigin").val();
                        detailDone.warehouseexpired = $(element).find(".detWarehouseExpired").val();
                        detailDone.qty = $(element).find(".detQty").val();
                        detailDone.price = $(element).find(".detPrice").val();
                        detailDone.discount = $(element).find(".detDiscount").val();
                        detailDone.subtotal = $(element).find(".detSubTotal").val();
                        detailItemDone.push(detailDone);
                        detailDone = {};
                    });

                    var ProductReturnNumber = $('#ProductReturnnumber').val();
                    var UserAccessId = $('#UserAccessId').val();
                    var Department1Id = $('#Department1List').val();
                    var Position1Id = $('#Position1List').val();
                    var UserApprove1Id = $('#UserApprove1List').val();
                    var Department2Id = $('#Department2List').val();
                    var Position2Id = $('#Position2List').val();
                    var UserApprove2Id = $('#UserApprove2List').val();
                    var Department3Id = $('#Department3List').val();
                    var Position3Id = $('#Position3List').val();
                    var UserApprove3Id = $('#UserApprove3List').val();
                    var BatchNumber = $('#BatchNumber').val();
                    var ReasonForReturn = $('#ReasonForReturn').val();
                    var Status = $('#status').val();
                    var QtyTotal = $('.productTotalQty').text();
                    var GrandTotal = $('.productGrandTotal').text();
                    var Note = $('#note').val();
                    var ProductReturnDetail = detailItemDone;
                }

                if (isAllValid) {
                    var dataPost = {};
                    dataPost.ProductReturnNumber = ProductReturnNumber;
                    dataPost.UserAccessId = UserAccessId;
                    dataPost.Department1Id = Department1Id;
                    dataPost.Position1Id = Position1Id;
                    dataPost.UserApprove1Id = UserApprove1Id;
                    dataPost.Department2Id = Department2Id;
                    dataPost.Position2Id = Position2Id;
                    dataPost.UserApprove2Id = UserApprove2Id;
                    dataPost.Department3Id = Department3Id;
                    dataPost.Position3Id = Position3Id;
                    dataPost.UserApprove3Id = UserApprove3Id;
                    dataPost.BatchNumber = BatchNumber;
                    dataPost.ReasonForReturn = ReasonForReturn;
                    dataPost.Status = Status;
                    dataPost.QtyTotal = QtyTotal;
                    dataPost.GrandTotal = GrandTotal;
                    dataPost.Note = Note;
                    dataPost.ProductReturnDetails = ProductReturnDetail;

                    $(this).val('In process...');

                    $.post("@Url.Action("CreateProductReturn", "ProductReturn")", { model: dataPost },
                        function (data) {
                            window.location.href = data.redirectToUrl;
                        }
                    );
                }
            });
        });
    </script>

    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 90%;
        }

        tr.error {
            background-color: rgba(255,0,0,0.35);
        }

        /*css for table*/
        .container td {
            vertical-align: top;
        }

        .tablecontainer table {
            width: 100%;
            border-collapse: collapse;
            border-top: 1px solid #BFAEAE;
            border-right: 1px solid #BFAEAE;
        }

        .tablecontainer th {
            border-bottom: 2px solid #BFAEAE;
        }

        .tablecontainer th, .tablecontainer td {
            text-align: center;
            border-left: 1px solid #BFAEAE;
            padding: 5px;
            border-bottom: 1px solid #BFAEAE;
        }

        .ui-widget {
            font-size: 12px !important;
        }
    </style>
}