@{
    ViewData["Title"] = "Add Product";
    Layout = "~/Views/Shared/_TopNavbarMasterData.cshtml";
}

@using Microsoft.AspNetCore.Identity;
@using PurchasingSystem.Models;
@using PurchasingSystem.Areas.MasterData.ViewModels;

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model ProductViewModel

<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="~/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 bg-white">
            <form enctype="multipart/form-data" asp-controller="Product" asp-action="CreateProduct" method="post" class="form-horizontal">
                <div class="card-header bg-cyan">
                    <h3 class="card-title fw-bold" style="color:#ffffff">@ViewBag.Title</h3>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-0"></div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="ProductCode">Product Code</label>
                                        <input type="text" asp-for="ProductCode" class="form-control form-control-border border-width-2" id="ProductCode" placeholder="Product Code" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="ProductName">Product Name</label>
                                        <input maxlength="50" autofocus autocomplete="off" type="text" asp-for="ProductName" class="form-control form-control-border border-width-2" id="ProductName" placeholder="Product Name">
                                        <span asp-validation-for="ProductName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="SupplierId">Supplier Name</label>
                                        <select id="supplierDropdown" asp-for="SupplierId" class="form-control select2bs4" style="width: 100%;">
                                            <option value="" hidden disabled selected>--Choose Supplier--</option>
                                        </select>
                                        <span asp-validation-for="SupplierId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="CategoryId">Category Name</label>
                                        <select id="categoryDropdown" asp-for="CategoryId" class="form-control select2bs4" style="width: 100%;">
                                            <option value="" hidden disabled selected>--Choose Category--</option>
                                        </select>
                                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="MeasurementId">Measure Name</label>
                                        <select id="measurementDropdown" asp-for="MeasurementId" class="form-control select2bs4" style="width: 100%;">
                                            <option value="" hidden disabled selected>--Choose Measurement--</option>
                                        </select>
                                        <span asp-validation-for="MeasurementId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="DiscountId">Discount Name</label>
                                        <select id="discountDropdown" asp-for="DiscountId" class="form-control select2bs4" style="width: 100%;">
                                            <option value="" hidden disabled selected>--Choose Discount--</option>
                                        </select>
                                        <span asp-validation-for="DiscountId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="ExpiredDate">Expired Date</label>
                                        <input type="date" asp-for="ExpiredDate" maxlength="50" autocomplete="off" class="form-control form-control-border border-width-2" id="ExpiredDate" placeholder="Expired Date" readonly>
                                        <span asp-validation-for="ExpiredDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="MinStock">Min Stock</label>
                                        <input type="text" asp-for="MinStock" maxlength="50" autocomplete="off" class="form-control form-control-border border-width-2" id="MinStock" placeholder="Min Stock" readonly>
                                        <span asp-validation-for="MinStock" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="MaxStock">Max Stock</label>
                                        <input type="text" asp-for="MaxStock" maxlength="50" autocomplete="off" class="form-control form-control-border border-width-2" id="MaxStock" placeholder="Max Stock" readonly>
                                        <span asp-validation-for="MaxStock" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="BufferStock">Buffer Stock</label>
                                        <input type="text" asp-for="BufferStock" maxlength="50" autocomplete="off" class="form-control form-control-border border-width-2" id="BufferStock" placeholder="Buffer Stock" readonly>
                                        <span asp-validation-for="BufferStock" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="Stock">Stock</label>
                                        <input type="text" asp-for="Stock" maxlength="20" autocomplete="off"  class="form-control form-control-border border-width-2" id="Stock" placeholder="Stock" readonly>
                                        <span asp-validation-for="Stock" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="BuyPrice">Buy Price</label>
                                        <input type="text" asp-for="BuyPrice" maxlength="50" autocomplete="off" class="form-control form-control-border border-width-2" id="BuyPrice" placeholder="Buy Price">
                                        <span asp-validation-for="BuyPrice" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="RetailPrice">Retail Price</label>
                                        <input type="text" asp-for="RetailPrice" maxlength="50" autocomplete="off" class="form-control form-control-border border-width-2" id="RetailPrice" placeholder="Retail Price">
                                        <span asp-validation-for="RetailPrice" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="Cogs">Cogs</label>
                                        <input type="text" asp-for="Cogs" maxlength="50" autocomplete="off" class="form-control form-control-border border-width-2" id="Cogs" placeholder="Cogs">
                                        <span asp-validation-for="Cogs" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="WarehouseLocationId">Warehouse Location</label>
                                        <select id="warehouseDropdown" asp-for="WarehouseLocationId" class="form-control select2bs4" style="width: 100%;">
                                            <option value="" hidden disabled selected>--Choose WarehouseLocation--</option>
                                        </select>
                                        <span asp-validation-for="WarehouseLocationId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="StorageLocation">Storage Location</label>
                                        <input type="text" asp-for="StorageLocation" maxlength="50" autocomplete="off" class="form-control form-control-border border-width-2" id="StorageLocation" placeholder="Storage Location">
                                        <span asp-validation-for="StorageLocation" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="RackNumber">Rack Number</label>
                                        <input type="text" asp-for="RackNumber" maxlength="50" autocomplete="off" class="form-control form-control-border border-width-2" id="RackNumber" placeholder="Rack Number">
                                        <span asp-validation-for="RackNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="Note">Note</label>
                                        <input type="text" asp-for="Note" maxlength="75" autocomplete="off" class="form-control form-control-border border-width-2" id="Note" placeholder="Note">
                                        <span asp-validation-for="Note" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-0"></div>
                        </div>
                    </div>
                </div>
                
                <!-- start button footer -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-0"></div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary bg-indigo float-left fw-bold"><div style="color:#ffffff">Save</div></button>
                                <a class="btn btn-default" asp-action="Index" asp-controller="Product">Cancel</a>
                            </div>
                            <div class="col-md-0"></div>
                        </div>
                    </div>
                </div>
                
                <!-- /.end button footer -->
                @section Scripts {
                    <script>
                        $(function () {
                            //Initialize Select2 Elements
                            $('.select2bs4').select2({
                                theme: 'bootstrap4'
                            })
                        })
                    </script>

                    <script>
                        $(function () {
                            // Inisialisasi Supplier
                            $('#supplierDropdown').select2({
                                theme: 'bootstrap4',
                                placeholder: "--Choose Supplier--",
                                allowClear: true,

                                ajax: {
                                    url: '@Url.Action("GetSuppliersPaged", "Product")',
                                    dataType: 'json',
                                    delay: 250,
                                    data: function (params) {
                                        var query = {
                                            term: params.term || "",
                                            page: params.page || 1,
                                            pageSize: 10
                                        };
                                        return query;
                                    },
                                    processResults: function (data, params) {
                                        params.page = params.page || 1;

                                        return {
                                            results: data.results,
                                            pagination: {
                                                more: data.pagination.more
                                            }
                                        };
                                    }
                                }
                            });
                        });
                    </script>

                    <script>
                        $(function () {
                            // Inisialisasi Category
                            $('#categoryDropdown').select2({
                                theme: 'bootstrap4',
                                placeholder: "--Choose Category--",
                                allowClear: true,

                                ajax: {
                                    url: '@Url.Action("GetCategoriesPaged", "Product")',
                                    dataType: 'json',
                                    delay: 250,
                                    data: function (params) {
                                        var query = {
                                            term: params.term || "",
                                            page: params.page || 1,
                                            pageSize: 10
                                        };
                                        return query;
                                    },
                                    processResults: function (data, params) {
                                        params.page = params.page || 1;

                                        return {
                                            results: data.results,
                                            pagination: {
                                                more: data.pagination.more
                                            }
                                        };
                                    }
                                }
                            });
                        });
                    </script>

                    <script>
                        $(function () {
                            // Inisialisasi Measurement
                            $('#measurementDropdown').select2({
                                theme: 'bootstrap4',
                                placeholder: "--Choose Measurement--",
                                allowClear: true,

                                ajax: {
                                    url: '@Url.Action("GetMeasurementsPaged", "Product")',
                                    dataType: 'json',
                                    delay: 250,
                                    data: function (params) {
                                        var query = {
                                            term: params.term || "",
                                            page: params.page || 1,
                                            pageSize: 10
                                        };
                                        return query;
                                    },
                                    processResults: function (data, params) {
                                        params.page = params.page || 1;

                                        return {
                                            results: data.results,
                                            pagination: {
                                                more: data.pagination.more
                                            }
                                        };
                                    }
                                }
                            });
                        });
                    </script>

                    <script>
                        $(function () {
                            // Inisialisasi Measurement
                            $('#discountDropdown').select2({
                                theme: 'bootstrap4',
                                placeholder: "--Choose Discount--",
                                allowClear: true,

                                ajax: {
                                    url: '@Url.Action("GetDiscountsPaged", "Product")',
                                    dataType: 'json',
                                    delay: 250,
                                    data: function (params) {
                                        var query = {
                                            term: params.term || "",
                                            page: params.page || 1,
                                            pageSize: 10
                                        };
                                        return query;
                                    },
                                    processResults: function (data, params) {
                                        params.page = params.page || 1;

                                        return {
                                            results: data.results,
                                            pagination: {
                                                more: data.pagination.more
                                            }
                                        };
                                    }
                                }
                            });
                        });
                    </script>

                    <script>
                        $(function () {
                            // Inisialisasi Measurement
                            $('#warehouseDropdown').select2({
                                theme: 'bootstrap4',
                                placeholder: "--Choose Warehouse Location--",
                                allowClear: true,

                                ajax: {
                                    url: '@Url.Action("GetWarehouseLocationsPaged", "Product")',
                                    dataType: 'json',
                                    delay: 250,
                                    data: function (params) {
                                        var query = {
                                            term: params.term || "",
                                            page: params.page || 1,
                                            pageSize: 10
                                        };
                                        return query;
                                    },
                                    processResults: function (data, params) {
                                        params.page = params.page || 1;

                                        return {
                                            results: data.results,
                                            pagination: {
                                                more: data.pagination.more
                                            }
                                        };
                                    }
                                }
                            });
                        });
                    </script>
                }
            </form>
        </div>
        @if (TempData["WarningMessage"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    swal("Failed !", '@TempData["WarningMessage"]', "warning");
                };
            </script>
        }
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->