@{
    ViewData["Title"] = "Add Product";
    Layout = "~/Views/Shared/_TopNavbarMasterData.cshtml";
}

@using Microsoft.AspNetCore.Identity;
@using PurchasingSystemApps.Models;
@using PurchasingSystemApps.Areas.MasterData.ViewModels;

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model ProductViewModel

<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="~/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 bg-white">
            <div class="card-header bg-cyan">
                <h3 class="card-title fw-bold" style="color:#ffffff">@ViewBag.Title</h3>
            </div>

            <form enctype="multipart/form-data" asp-controller="Product" asp-action="CreateProduct" method="post" class="form-horizontal">
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label asp-for="ProductCode"></label>
                            <input type="text" asp-for="ProductCode" class="form-control form-control-border border-width-2" id="ProductCode" placeholder="Product Code" readonly>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="ProductName"></label>
                            <input maxlength="100" autofocus autocomplete="off" type="text" asp-for="ProductName" class="form-control form-control-border border-width-2" id="ProductName" placeholder="Product Name">
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label asp-for="SupplierId"></label>
                            <select class="form-control select2bs4" style="width: 100%;" asp-for="SupplierId" asp-items="@ViewBag.Supplier">
                                <option value="" hidden disabled selected>--Choose Supplier--</option>
                            </select>
                            <span asp-validation-for="SupplierId" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="CategoryId"></label>
                            <select class="form-control select2bs4" style="width: 100%;" asp-for="CategoryId" asp-items="@ViewBag.Category">
                                <option value="" hidden disabled selected>--Choose Category--</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label asp-for="MeasurementId"></label>
                            <select class="form-control select2bs4" style="width: 100%;" asp-for="MeasurementId" asp-items="@ViewBag.Measurement">
                                <option value="" hidden disabled selected>--Choose Measurement--</option>
                            </select>
                            <span asp-validation-for="MeasurementId" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="DiscountId"></label>
                            <select class="form-control select2bs4" style="width: 100%;" asp-for="DiscountId" asp-items="@ViewBag.Discount">
                                <option value="" hidden disabled selected>--Choose Discount--</option>
                            </select>
                            <span asp-validation-for="DiscountId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label asp-for="MinStock"></label>
                            <input type="text" asp-for="MinStock" class="form-control form-control-border border-width-2" id="MinStock" placeholder="Min Stock" readonly>
                            <span asp-validation-for="MinStock" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="MaxStock"></label>
                            <input type="text" asp-for="MaxStock" class="form-control form-control-border border-width-2" id="MaxStock" placeholder="Max Stock" readonly>
                            <span asp-validation-for="MaxStock" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label asp-for="BufferStock"></label>
                            <input type="text" asp-for="BufferStock" class="form-control form-control-border border-width-2" id="BufferStock" placeholder="Buffer Stock" readonly>
                            <span asp-validation-for="BufferStock" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="Stock"></label>
                            <input type="text" asp-for="Stock" class="form-control form-control-border border-width-2" id="Stock" placeholder="Stock" readonly>
                            <span asp-validation-for="Stock" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label asp-for="BuyPrice"></label>
                            <input type="text" asp-for="BuyPrice" class="form-control form-control-border border-width-2" id="BuyPrice" placeholder="Buy Price">
                            <span asp-validation-for="BuyPrice" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="RetailPrice"></label>
                            <input type="text" asp-for="RetailPrice" class="form-control form-control-border border-width-2" id="RetailPrice" placeholder="Retail Price">
                            <span asp-validation-for="RetailPrice" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label asp-for="Cogs"></label>
                            <input type="text" asp-for="Cogs" class="form-control form-control-border border-width-2" id="Cogs" placeholder="Cogs">
                            <span asp-validation-for="Cogs" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="WarehouseLocationId"></label>
                            <select class="form-control select2bs4" style="width: 100%;" asp-for="WarehouseLocationId" asp-items="@ViewBag.Warehouse">
                                <option value="" hidden disabled selected>--Choose WarehouseLocation--</option>
                            </select>
                            <span asp-validation-for="WarehouseLocationId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label asp-for="StorageLocation"></label>
                            <input type="text" asp-for="StorageLocation" class="form-control form-control-border border-width-2" id="StorageLocation" placeholder="Storage Location">
                            <span asp-validation-for="StorageLocation" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="RackNumber"></label>
                            <input type="text" asp-for="RackNumber" class="form-control form-control-border border-width-2" id="RackNumber" placeholder="Rack Number">
                            <span asp-validation-for="RackNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label asp-for="Note"></label>
                            <input type="text" asp-for="Note" class="form-control form-control-border border-width-2" id="Note" placeholder="Note">
                            <span asp-validation-for="Note" class="text-danger"></span>
                        </div>                        
                    </div>                    
                </div>
                <!-- start button footer -->
                <div class="card card-orange">
                    <div class="card-body">
                        <button type="submit" class="btn btn-primary bg-indigo float-left fw-bold"><div style="color:#ffffff">Save</div></button>
                        <a class="btn btn-default" asp-action="Index" asp-controller="Product">Cancel</a>
                    </div>
                </div>
                <!-- /.end button footer -->
                @section Scripts {
                    <script>
                        $(function () {
                            //Initialize Select2 Elements
                            $('.select2bs4').select2({
                                theme: 'bootstrap4'
                            })
                        })
                    </script>
                }
            </form>
        </div>
        @if (TempData["WarningMessage"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    swal("Failed !", '@TempData["WarningMessage"]', "warning");
                };
            </script>
        }
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->