@{
    ViewData["Title"] = "Detail Product";
    Layout = "~/Views/Shared/_TopNavbarMasterData.cshtml";
}

@using Microsoft.AspNetCore.Identity;
@using PurchasingSystem.Areas.MasterData.ViewModels;

@{
    var listRole = Context.Session.GetString("ListRole");
    @inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager

}
@model ProductViewModel

<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="~/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 bg-white">
            <form enctype="multipart/form-data" asp-controller="Product" asp-action="DetailProduct" method="post" class="form-horizontal">
                <div class="card-header bg-cyan">
                    <h3 class="card-title fw-bold" style="color:#ffffff">@ViewBag.Title</h3>

                    <div class="card-tools">                       
                        <div class="icheck-success d-inline">
                            <input asp-for="IsActive" type="checkbox" id="IsActive" disabled>
                            <label asp-for="IsActive">Is Active?</label>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-0"></div>
                            <div class="col-md-12">
                                <input hidden asp-for="ProductId" />
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="ProductCode">Product Code</label>
                                        <input type="text" asp-for="ProductCode" class="form-control form-control-border border-width-2" id="ProductCode" placeholder="Product Code" readonly disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="ProductName">Product Name</label>
                                        <input maxlength="50" autocomplete="off" autofocus type="text" asp-for="ProductName" class="form-control form-control-border border-width-2" id="ProductName" placeholder="Product Name" disabled>
                                        <span asp-validation-for="ProductName" class="text-danger"></span>
                                    </div>
                                </div>                                
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="SupplierId">Supplier Name</label>
                                        <select id="supplierDropdown" asp-for="SupplierId" class="form-control select2bs4" style="width: 100%;" disabled>
                                            <option value="" disabled selected>--Choose Supplier--</option>

                                            @if (Model.SupplierId != Guid.Empty && !string.IsNullOrEmpty(Model.SupplierName))
                                            {
                                                <option value="@Model.SupplierId.ToString()" selected="selected">
                                                    @Model.SupplierName
                                                </option>
                                            }
                                        </select>
                                        <span asp-validation-for="SupplierId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="CategoryId">Category Name</label>
                                        <select id="categoryDropdown" asp-for="CategoryId" class="form-control select2bs4" style="width: 100%;" disabled>
                                            <option value="" disabled selected>--Choose Category--</option>

                                            @if (Model.CategoryId != Guid.Empty && !string.IsNullOrEmpty(Model.CategoryName))
                                            {
                                                <option value="@Model.CategoryId.ToString()" selected="selected">
                                                    @Model.CategoryName
                                                </option>
                                            }
                                        </select>
                                        <span asp-validation-for="SupplierId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="MeasurementId">Measurement Name</label>
                                        <select id="measurementDropdown" asp-for="MeasurementId" class="form-control select2bs4" style="width: 100%;" disabled>
                                            <option value="" disabled selected>--Choose Measurement--</option>

                                            @if (Model.MeasurementId != Guid.Empty && !string.IsNullOrEmpty(Model.MeasurementName))
                                            {
                                                <option value="@Model.MeasurementId.ToString()" selected="selected">
                                                    @Model.MeasurementName
                                                </option>
                                            }
                                        </select>
                                        <span asp-validation-for="MeasurementId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="DiscountId">Discount Name</label>
                                        <select id="discountDropdown" asp-for="DiscountId" class="form-control select2bs4" style="width: 100%;" disabled>
                                            <option value="" disabled selected>--Choose Discount--</option>

                                            @if (Model.DiscountId != Guid.Empty)
                                            {
                                                <option value="@Model.DiscountId.ToString()" selected="selected">
                                                    @Model.DiscountValue
                                                </option>
                                            }
                                        </select>
                                        <span asp-validation-for="DiscountId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="ExpiredDate">Expired Date</label>
                                        <input type="date" asp-for="ExpiredDate" maxlength="50" autocomplete="off" class="form-control form-control-border border-width-2" id="ExpiredDate" placeholder="Expired Date" readonly disabled>
                                        <span asp-validation-for="ExpiredDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="MinStock">Min Stock</label>
                                        <input type="text" asp-for="MinStock" maxlength="50" autocomplete="off" class="form-control form-control-border border-width-2" id="MinStock" placeholder="Min Stock" readonly disabled>
                                        <span asp-validation-for="MinStock" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="MaxStock">Max Stock</label>
                                        <input type="text" asp-for="MaxStock" maxlength="50" autocomplete="off" class="form-control form-control-border border-width-2" id="MaxStock" placeholder="Max Stock" readonly disabled>
                                        <span asp-validation-for="MaxStock" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="BufferStock">Buffer Stock</label>
                                        <input type="text" asp-for="BufferStock" maxlength="50" autocomplete="off" class="form-control form-control-border border-width-2" id="BufferStock" placeholder="Buffer Stock" readonly disabled>
                                        <span asp-validation-for="BufferStock" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="Stock">Stock</label>
                                        <input type="text" asp-for="Stock" maxlength="50" autocomplete="off" class="form-control form-control-border border-width-2" id="Stock" placeholder="Stock" readonly disabled>
                                        <span asp-validation-for="Stock" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="BuyPrice">Buy Price</label>
                                        <input type="text" asp-for="BuyPrice" maxlength="50" autocomplete="off" class="form-control form-control-border border-width-2" id="BuyPrice" placeholder="Buy Price" disabled>
                                        <span asp-validation-for="BuyPrice" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="RetailPrice">Retail Price</label>
                                        <input type="text" asp-for="RetailPrice" maxlength="50" autocomplete="off" class="form-control form-control-border border-width-2" id="RetailPrice" placeholder="Retail Price" disabled>
                                        <span asp-validation-for="RetailPrice" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="Cogs">Cogs</label>
                                        <input type="text" asp-for="Cogs" maxlength="50" autocomplete="off" class="form-control form-control-border border-width-2" id="Cogs" placeholder="Cogs" disabled>
                                        <span asp-validation-for="Cogs" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="WarehouseLocationId">Warehouse Location Name</label>
                                        <select id="warehouseDropdown" asp-for="WarehouseLocationId" class="form-control select2bs4" style="width: 100%;" disabled>
                                            <option value="" disabled selected>--Choose Warehouse Location--</option>

                                            @if (Model.WarehouseLocationId != Guid.Empty && !string.IsNullOrEmpty(Model.WarehouseLocationName))
                                            {
                                                <option value="@Model.WarehouseLocationId.ToString()" selected="selected">
                                                    @Model.WarehouseLocationName
                                                </option>
                                            }
                                        </select>
                                        <span asp-validation-for="WarehouseLocationId" class="text-danger"></span>                                        
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="StorageLocation">Storage Location</label>
                                        <input type="text" asp-for="StorageLocation" maxlength="50" autocomplete="off" class="form-control form-control-border border-width-2" id="StorageLocation" placeholder="Storage Location" disabled>
                                        <span asp-validation-for="StorageLocation" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="RackNumber">Rack Number</label>
                                        <input type="text" asp-for="RackNumber" maxlength="50" autocomplete="off" class="form-control form-control-border border-width-2" id="RackNumber" placeholder="Rack Number" disabled>
                                        <span asp-validation-for="RackNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label asp-for="Note">Note</label>
                                        <input type="text" asp-for="Note" maxlength="75" autocomplete="off" class="form-control form-control-border border-width-2" id="Note" placeholder="Note" disabled>
                                        <span asp-validation-for="Note" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-0"></div>
                        </div>
                    </div>
                </div>
               
                <!-- start button footer -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-0"></div>
                            <div class="col-md-12">
                                <div class="row">
                                    <button type="submit" class="btn btn-primary bg-indigo float-left fw-bold" id="btnsimpan"><div style="color:#ffffff">Save</div></button>
                                    @if (User.Identity.Name == "superadmin@admin.com")
                                    {
                                        <a class="btn bg-indigo" id="btnubah">Change</a>
                                        <a class="btn btn-default" id="btnbatalubah">Cancel Change</a>
                                        <div class="btn btn-danger" data-href="@Url.Action("DeleteProduct", "Product", new { id = Model.ProductId })">Delete</div>
                                    }                                    
                                    else
                                    {
                                        @if (!string.IsNullOrEmpty(listRole))
                                        {
                                            var roles = listRole.Split(',');
                                            if (roles.Contains("UpdateProduct"))
                                            {
                                                <a class="btn bg-indigo" id="btnubah">Change</a>
                                                <a class="btn btn-default" id="btnbatalubah">Cancel Change</a>
                                            }                                            
                                            if (roles.Contains("DeleteProduct"))
                                            {
                                                <div class="btn btn-danger" data-href="@Url.Action("DeleteProduct", "Product", new { id = Model.ProductId })">Delete</div>
                                            }
                                        }
                                    }                                                                        
                                    <div class="btn btn-default" id="btnbatal" data-href="@Url.Action("Index", "Product", new { area = "MasterData" })">Cancel</div>
                                </div>
                            </div>
                            <div class="col-md-0"></div>
                        </div>                        
                    </div>
                </div>
                
                <!-- /.end button footer -->
                @section Scripts {
                    <script>
                        $(function () {
                            //Initialize Select2 Elements
                            $('.select2bs4').select2({
                                theme: 'bootstrap4'
                            })
                        })
                    </script>

                    <script>
                        $(function () {
                            // Inisialisasi Select2 pada #supplierDropdown
                            $('#supplierDropdown').select2({
                                theme: 'bootstrap4',
                                placeholder: "--Choose Supplier--",
                                allowClear: true,

                                ajax: {
                                    url: '@Url.Action("GetSuppliersPaged", "Product")', // Sesuaikan nama Controller
                                    dataType: 'json',
                                    delay: 250,
                                    data: function (params) {
                                        return {
                                            term: params.term || "",
                                            page: params.page || 1,
                                            pageSize: 10
                                        };
                                    },
                                    processResults: function (data, params) {
                                        params.page = params.page || 1;
                                        return {
                                            results: data.results,
                                            pagination: {
                                                more: data.pagination.more
                                            }
                                        };
                                    }
                                }
                            });
                        });
                    </script>

                    @*<script>
                        $(function () {
                            // Inisialisasi Supplier
                            $('#supplierDropdown').select2({
                                theme: 'bootstrap4',
                                placeholder: "--Choose Supplier--",
                                allowClear: true,

                                ajax: {
                                    url: '@Url.Action("GetSuppliersPaged", "Product")',
                                    dataType: 'json',
                                    delay: 250,
                                    data: function (params) {
                                        var query = {
                                            term: params.term || "",
                                            page: params.page || 1,
                                            pageSize: 10
                                        };
                                        return query;
                                    },
                                    processResults: function (data, params) {
                                        params.page = params.page || 1;

                                        return {
                                            results: data.results,
                                            pagination: {
                                                more: data.pagination.more
                                            }
                                        };
                                    }
                                }
                            });
                        });
                    </script>*@

                    <script>
                        $(function () {
                            // Inisialisasi Category
                            $('#categoryDropdown').select2({
                                theme: 'bootstrap4',
                                placeholder: "--Choose Category--",
                                allowClear: true,

                                ajax: {
                                    url: '@Url.Action("GetCategoriesPaged", "Product")',
                                    dataType: 'json',
                                    delay: 250,
                                    data: function (params) {
                                        var query = {
                                            term: params.term || "",
                                            page: params.page || 1,
                                            pageSize: 10
                                        };
                                        return query;
                                    },
                                    processResults: function (data, params) {
                                        params.page = params.page || 1;

                                        return {
                                            results: data.results,
                                            pagination: {
                                                more: data.pagination.more
                                            }
                                        };
                                    }
                                }
                            });
                        });
                    </script>

                    <script>
                        $(function () {
                            // Inisialisasi Measurement
                            $('#measurementDropdown').select2({
                                theme: 'bootstrap4',
                                placeholder: "--Choose Measurement--",
                                allowClear: true,

                                ajax: {
                                    url: '@Url.Action("GetMeasurementsPaged", "Product")',
                                    dataType: 'json',
                                    delay: 250,
                                    data: function (params) {
                                        var query = {
                                            term: params.term || "",
                                            page: params.page || 1,
                                            pageSize: 10
                                        };
                                        return query;
                                    },
                                    processResults: function (data, params) {
                                        params.page = params.page || 1;

                                        return {
                                            results: data.results,
                                            pagination: {
                                                more: data.pagination.more
                                            }
                                        };
                                    }
                                }
                            });
                        });
                    </script>

                    <script>
                        $(function () {
                            // Inisialisasi Discount
                            $('#discountDropdown').select2({
                                theme: 'bootstrap4',
                                placeholder: "--Choose Discount--",
                                allowClear: true,

                                ajax: {
                                    url: '@Url.Action("GetDiscountsPaged", "Product")',
                                    dataType: 'json',
                                    delay: 250,
                                    data: function (params) {
                                        var query = {
                                            term: params.term || "",
                                            page: params.page || 1,
                                            pageSize: 10
                                        };
                                        return query;
                                    },
                                    processResults: function (data, params) {
                                        params.page = params.page || 1;

                                        return {
                                            results: data.results,
                                            pagination: {
                                                more: data.pagination.more
                                            }
                                        };
                                    }
                                }
                            });
                        });
                    </script>

                    <script>
                        $(function () {
                            // Inisialisasi Measurement
                            $('#warehouseDropdown').select2({
                                theme: 'bootstrap4',
                                placeholder: "--Choose Warehouse Location--",
                                allowClear: true,

                                ajax: {
                                    url: '@Url.Action("GetWarehouseLocationsPaged", "Product")',
                                    dataType: 'json',
                                    delay: 250,
                                    data: function (params) {
                                        var query = {
                                            term: params.term || "",
                                            page: params.page || 1,
                                            pageSize: 10
                                        };
                                        return query;
                                    },
                                    processResults: function (data, params) {
                                        params.page = params.page || 1;

                                        return {
                                            results: data.results,
                                            pagination: {
                                                more: data.pagination.more
                                            }
                                        };
                                    }
                                }
                            });
                        });
                    </script>

                    <script>
                        $(function () {
                            $("#btnsimpan").hide();
                            $("#btnbatalubah").hide();

                            $("#btnubah").click(function () {
                                $("#btnubah").hide();
                                $("#btnhapus").hide();
                                $("#btnbatal").hide();
                                $("#btnsimpan").show();
                                $("#btnbatalubah").show();

                                document.getElementById("ProductCode").disabled = false;
                                document.getElementById("ProductName").disabled = false;
                                document.getElementById("supplierDropdown").disabled = false;
                                document.getElementById("categoryDropdown").disabled = false;
                                document.getElementById("measurementDropdown").disabled = false;
                                document.getElementById("discountDropdown").disabled = false;
                                document.getElementById("warehouseDropdown").disabled = false;
                                document.getElementById("MinStock").disabled = false;
                                document.getElementById("MaxStock").disabled = false;
                                document.getElementById("BufferStock").disabled = false;
                                document.getElementById("Stock").disabled = false;
                                document.getElementById("Cogs").disabled = false;
                                document.getElementById("BuyPrice").disabled = false;
                                document.getElementById("RetailPrice").disabled = false;
                                document.getElementById("StorageLocation").disabled = false;
                                document.getElementById("RackNumber").disabled = false;
                                document.getElementById("ExpiredDate").disabled = false;
                                document.getElementById("IsActive").disabled = false;
                                document.getElementById("Note").disabled = false;
                                document.getElementById("IsActive").disabled = false;
                            })

                            $("#btnbatalubah").click(function () {
                                $("#btnubah").show();
                                $("#btnhapus").show();
                                $("#btnbatal").show();
                                $("#btnsimpan").hide();
                                $("#btnbatalubah").hide();

                                document.getElementById("ProductCode").disabled = true;
                                document.getElementById("ProductName").disabled = true;
                                document.getElementById("supplierDropdown").disabled = true;
                                document.getElementById("categoryDropdown").disabled = true;
                                document.getElementById("measurementDropdown").disabled = true;
                                document.getElementById("discountDropdown").disabled = true;
                                document.getElementById("warehouseDropdown").disabled = true;
                                document.getElementById("MinStock").disabled = true;
                                document.getElementById("MaxStock").disabled = true;
                                document.getElementById("BufferStock").disabled = true;
                                document.getElementById("Stock").disabled = true;
                                document.getElementById("Cogs").disabled = true;
                                document.getElementById("BuyPrice").disabled = true;
                                document.getElementById("RetailPrice").disabled = true;
                                document.getElementById("StorageLocation").disabled = true;
                                document.getElementById("RackNumber").disabled = true;
                                document.getElementById("ExpiredDate").disabled = true;
                                document.getElementById("IsActive").disabled = true;
                                document.getElementById("Note").disabled = true;
                                document.getElementById("IsActive").disabled = true;
                            })
                        })
                    </script>

                    <script>
                        $(function () {
                            //Data-Mask-Identitas
                            $('[data-mask-identitas]').inputmask()

                            //Data-Mask-Hp
                            $('[data-mask-hp]').inputmask()

                            //Tanggal Lahir
                            $('#tanggallahir').datetimepicker({
                                format: 'DD/MM/yyyy'
                            })
                        })
                    </script>
                }
            </form>
        </div>
        @if (TempData["WarningMessage"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    swal("Failed", '@TempData["WarningMessage"]', "warning");
                };
            </script>
        }
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->