@{
    ViewData["Title"] = "Obat Data";
    Layout = "~/Views/Shared/_TopNavbarAdministrator.cshtml";
}
@using Microsoft.AspNetCore.Identity;
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model List<dynamic>

<section class="content">
    <div class="row">
        <div class="col-md-12 bg-white">
            <div class="card-header bg-cyan">
                <h3 class="card-title fw-bold" style="color:#ffffff">@ViewData["Title"]</h3>
            </div>
            <div class="card-body table-responsive p-0">
                <form enctype="multipart/form-data" asp-controller="Api" asp-action="CreateObat" method="post">
                    <table id="tblTemplate" class="table table-hover table-head-fixed text-wrap">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Kode Barang</th>
                                <th>Kode Barang Baru</th>
                                <th>Nama Barang</th>
                                @*<th>Nama Barang Baru</th>
                                <th>Kekuatan Sediaan</th>
                                <th>Volume Sediaan</th>
                                <th>Bentuk Sediaan</th>*@
                                <th>Kode Satuan</th>
                                @*<th>Material Group</th>
                                <th>Kategori Barang</th>
                                <th>Golongan Barang</th>
                                <th>Sub Golongan</th>*@
                                <th>Commodity</th>
                                @*<th>Min Stok</th>
                                <th>Zat Aktif</th>
                                <th>Principal Kerjasama</th>
                                <th>Supplier</th>
                                <th>Satuan Dosis</th>
                                <th>Dosis</th>
                                <th>Is Formula BPJS</th>
                                <th>Is Formula RS</th>
                                <th>Is Narkotika</th>
                                <th>Is Psikotropika</th>
                                <th>Is Prekusor</th>
                                <th>Is Obat Tertentu</th>
                                <th>Is Kemo</th>
                                <th>Is Farcon</th>
                                <th>Bentuk Obat Alkes</th>*@
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                var no = 0;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@no++</td>
                                        <td>@item.kode_brg</td>
                                        <td>@item.kode_brg_baru</td>
                                        <td>@item.nama_brg</td>
                                        @*<td>@item.nama_barang_baru</td>
                                        <td>@item.kekuatan_sediaan</td>
                                        <td>@item.volume_sediaan</td>
                                        <td>@item.bentuk_sediaan</td>*@
                                        <td>@item.kode_satuan</td>
                                        @*<td>@item.material_group</td>
                                        <td>@item.kategori_brg</td>
                                        <td>@item.golongan_brg</td>
                                        <td>@item.sub_golongan</td>*@
                                        <td>@item.commodity</td>
                                        @*<td>@item.min_stok</td>
                                        <td>@item.zat_aktif</td>
                                        <td>@item.principal_kerjasama</td>
                                        <td>@item.supplier</td>
                                        <td>@item.satuan_dosis</td>
                                        <td>@item.dosis</td>
                                        <td>@item.is_formula_bpjs</td>
                                        <td>@item.is_formula_rs</td>
                                        <td>@item.is_narkotika</td>
                                        <td>@item.is_psikotropika</td>
                                        <td>@item.is_prekusor</td>
                                        <td>@item.is_obat_tertentu</td>
                                        <td>@item.is_kemo</td>
                                        <td>@item.is_farcon</td>
                                        <td>@item.bentuk_obat_alkes</td>*@
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="14">Tidak ada data untuk ditampilkan.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @* <button type="submit" class="btn btn-primary">Kirim</button> *@
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @* <script src="~/scripts/tabletemplate.js"></script> *@
    <script>
            $(document).ready(function() {
                $('#tblTemplate').DataTable({
                    "paging": true,       
                    "searching": true,   
                    "ordering": true,   
                    "info": true,        
                    "pageLength": 10,   
                    "lengthChange": false 
                });
            });
    </script>
    <style>
        span.error {
            display: block;
            color: #347FC4;
            font-size: 90%;
        }

        tr.error {
            background-color: rgba(255,0,0,0.35);
        }

        /*css for table*/
        .container td {
            vertical-align: top;
        }

        .tablecontainer table {
            width: 100%;
            border-collapse: collapse;
            border-top: 1px solid #BFAEAE;
            border-right: 1px solid #BFAEAE;
        }

        .tablecontainer th {
            border-bottom: 2px solid #BFAEAE;
        }

        .tablecontainer th, .tablecontainer td {
            text-align: center;
            border-left: 1px solid #BFAEAE;
            padding: 5px;
            border-bottom: 1px solid #BFAEAE;
        }

        .ui-widget {
            font-size: 12px !important;
        }
    </style>
}